Workflows/Audio a texto.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto": {
      "main": [
        [
          {
            "node": "Envio_Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descarga_audio": {
      "main": [
        [
          {
            "node": "Transcribe audio a texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio a texto": {
      "main": [
        [
          {
            "node": "Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio": {
      "main": [
        [
          {
            "node": "Envio_Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio_Datos": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descarga_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-08T01:15:55.005Z",
  "id": "I5olfWHQl0dJimSO",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Audio a texto",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "4381a68c-b37a-40da-a237-987d966f0902",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        460,
        500
      ],
      "webhookId": "8ec692eb-538d-45e5-90e0-5265a88076e4",
      "credentials": {
        "telegramApi": {
          "id": "sH1aHidvwBlMcWD0",
          "name": "Credenciales_Telegram"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc1a1dba-16f3-40ee-b497-c550dd332751",
              "name": "mensaje",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8de1ae01-1581-4f91-88de-4b91febfed02",
      "name": "Texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        380
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "0f8585a8-7883-4368-ac10-baa3cc621f78",
      "name": "Descarga_audio",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        980,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "sH1aHidvwBlMcWD0",
          "name": "Credenciales_Telegram"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "b932222f-6e0f-4bc9-aa63-92137538bf32",
      "name": "Transcribe audio a texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        600
      ],
      "credentials": {
        "openAiApi": {
          "id": "YkmqUDix3HnFZRAZ",
          "name": "Credenciales_OpenAi"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eac8864e-2f64-4a8b-96c3-12ecfa969c82",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b0ab1e27-1774-4c4f-bd4b-bc0e36c754e5",
      "name": "Audio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc1a1dba-16f3-40ee-b497-c550dd332751",
              "name": "Chat_ID",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "5c4ff116-f7a4-47b1-98fa-dc464a9c8077",
              "name": "Nombre",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "6d2cd125-3e58-402b-a529-9698545c2636",
              "name": "Mensaje",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "72f17c34-7754-487c-bd65-0875503abf03",
      "name": "Envio_Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        500
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b0f40a04-d52f-4f45-a8f4-3e96be562705",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1880,
        700
      ],
      "credentials": {
        "openAiApi": {
          "id": "YkmqUDix3HnFZRAZ",
          "name": "Credenciales_OpenAi"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Envio_Datos').item.json.Chat_ID }}"
      },
      "id": "1474641a-1fb2-46de-a212-c402b140a3df",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2020,
        700
      ]
    },
    {
      "parameters": {},
      "id": "0e8cdbef-98b6-4fc1-b659-d32cdf385ed3",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2160,
        700
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "ca1e3357-6ef0-4e70-9890-06c3fb467057",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2340,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "sH1aHidvwBlMcWD0",
          "name": "Credenciales_Telegram"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "",
        "options": {}
      },
      "id": "584c5577-8c63-49f1-aac6-41f4e307e41d",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        460,
        740
      ],
      "webhookId": "1248d959-4c83-40da-b939-4a7126c773d2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d82cf6cc-d916-4c68-8606-ac497bfcb60f",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "id": "66658fac-81ba-4544-8e93-34725904be5a",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        720,
        500
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Mensaje }}",
        "options": {
          "systemMessage": "Eres una amigable agente llamado Elle."
        }
      },
      "id": "d95a0d84-89a0-4813-8693-66551400a18d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1960,
        500
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-01-08T06:57:17.000Z",
  "versionId": "a0a03d53-8d1b-4d80-a584-484dcd0be93c"
}