Workflows/Backup_Workflows.json
{
  "active": true,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-07T22:08:31.589Z",
  "id": "nkoKWHr5HjNdSjzP",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Backup_Workflows",
  "nodes": [
    {
      "parameters": {},
      "id": "6e06afe0-1944-47cf-84d4-16738d5f5b5b",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        100,
        -300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "2ac0c5db-219e-4678-9561-6d1ac6dafcf4",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        940,
        -280
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "2e0WbYOPJD03j3JB",
          "name": "Credenciales_GitHub"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "28267c41-51ef-4947-8c9e-5240a587bc5d",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1480,
        -180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0543ae45-38cf-4b84-a2fc-fa017019f5d6",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1640,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "31f6b20e-cfd0-4c77-89e2-b8670db998b4",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1640,
        -200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "62148c95-a39c-4b57-b2e0-3d8ddcd8d780",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1640,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "225bc8d6-33e0-46fd-8e0a-7c0e026c8b2a",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        1800,
        -200
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "2e0WbYOPJD03j3JB",
          "name": "Credenciales_GitHub"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "3dafdff3-50ce-49c3-91b0-5f1c62df4f1d",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        1800,
        40
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "2e0WbYOPJD03j3JB",
          "name": "Credenciales_GitHub"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "fccd2b51-6563-4ff5-a416-d36a422fcb01",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        100,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "cad06168-6b9e-4bfd-b463-e6733f332f23",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        480,
        -180
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "Pp2ICYyGO9gPZajj",
          "name": "n8n_API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "a8f30186-8a2a-46ea-925e-b692261e2567",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        1320,
        -180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "819963f4-54c3-44ea-8214-55cf8aabe87a",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1180,
        -180
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "jmcaravajal"
            },
            {
              "name": "repo.name",
              "value": "n8n_Backup"
            },
            {
              "name": "repo.path",
              "value": "Workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "75f0115f-9e38-4cbc-88e5-a790d681bd71",
      "name": "Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        280,
        -180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "b8ec30d4-8a81-4292-b5b9-dceb53325f9b",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        820,
        -420
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ab05b3db-6523-4bb5-b169-91c2a27b56c4",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        700,
        -180
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-11T10:02:09.000Z",
  "versionId": "0317318e-9dae-4d2b-a28d-4b85e265acfc"
}