Workflows/bd_vectorial-HI7GDdFqcEfqT8fC.json
{"createdAt":"2025-01-23T13:17:39.038Z","updatedAt":"2025-01-23T13:38:06.000Z","id":"HI7GDdFqcEfqT8fC","name":"BD_Vectorial","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"6575fac0-24e9-49f3-b017-76fcc4eb1d7f","name":"When clicking ‘Test workflow’"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"jmcaravajal","mode":"name"},"repository":{"__rl":true,"value":"vector_data","mode":"list","cachedResultName":"vector_data","cachedResultUrl":"https://github.com/jmcaravajal/vector_data"},"filePath":"BD_peliculas.csv","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[220,0],"id":"43137901-7f90-4f1a-9194-4f071c847005","name":"GitHub","credentials":{"githubOAuth2Api":{"id":"uirTdu1lseMMbMYv","name":"GitHub account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[440,0],"id":"08a221bf-e04f-462e-9136-174275d06aae","name":"Extract from File"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"=movies","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[880,0],"id":"a9ee653a-0e07-474b-aa1f-3a2719ba0f20","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"EeI3zFCQRT2jEfKk","name":"QdrantApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[840,340],"id":"868f2d0e-71f1-48c4-9946-01fd8a617dd9","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"3rI1ba1dyQUjkGgM","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Extract from File').item.json.Description }}","options":{"metadata":{"metadataValues":[{"name":"movie_name","value":"={{ $('Extract from File').item.json.Title }}"},{"name":"duration","value":"={{ $('Extract from File').item.json.Duration }}"},{"name":"movie_description","value":"={{ $('Extract from File').item.json.Description }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1040,200],"id":"31add36c-b11b-4bd1-b845-2c87f77269b5","name":"Default Data Loader"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[1020,420],"id":"613a0860-91c7-47d1-92ab-0dd13fe64759","name":"Token Splitter"},{"parameters":{"maxItems":30},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,0],"id":"b7fe208a-0b32-45e0-939e-0595d8253e20","name":"Limit"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Limit":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5832ef4b-e635-45a8-a8a7-5eb2e793e5e5","triggerCount":0,"tags":[]}