Workflows/bd_vectorial-HI7GDdFqcEfqT8fC.json
{"createdAt":"2025-01-23T13:17:39.038Z","updatedAt":"2025-01-27T11:17:59.000Z","id":"HI7GDdFqcEfqT8fC","name":"BD_Vectorial","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[140,180],"id":"868f2d0e-71f1-48c4-9946-01fd8a617dd9","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"3rI1ba1dyQUjkGgM","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[320,340],"id":"613a0860-91c7-47d1-92ab-0dd13fe64759","name":"Token Splitter"},{"parameters":{"mode":"insert","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[240,-20],"id":"de838ee7-66fc-4cfa-bb9f-f817ef96338a","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"SFOs3b6vNkZl0jhM","name":"Postgres_vector_db"}}},{"parameters":{"maxItems":10,"keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-100,-20],"id":"bb1c1e7d-739d-4877-93b4-9dc7d0bbb5a6","name":"Limit_10"},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json['Descripcion_español'] }}","options":{"metadata":{"metadataValues":[{"name":"Document_ID","value":"={{ $('Descarga_archivo').item.json.id }}"},{"name":"genero","value":"={{ $('Extracción_datos_csv').item.json.Genero }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[320,180],"id":"31add36c-b11b-4bd1-b845-2c87f77269b5","name":"Mapeado_datos"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1GceEUPgGmwoKM_uTx12jJyaBiyHwk5Cn","mode":"list","cachedResultName":"BD_Vectores","cachedResultUrl":"https://drive.google.com/drive/folders/1GceEUPgGmwoKM_uTx12jJyaBiyHwk5Cn"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-920,340],"id":"b533284b-2427-414a-8761-5e41bcf1628c","name":"File_updated","credentials":{"googleDriveOAuth2Api":{"id":"yW9f799vnl2ehurr","name":"Google_API"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_vectors","mode":"list","cachedResultName":"n8n_vectors"},"deleteCommand":"delete","where":{"values":[{"column":"metadata","value":"={\"loc\": {\"lines\": {\"to\": 1, \"from\": 1}}, \"source\": \"blob\", \"blobType\": \"text/plain\", \"Document_ID\": \"{{ $json.id }}\"}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-640,340],"id":"6239fb7b-8a94-4dbc-a1ca-6ff81cbae524","name":"Borrado_BD","credentials":{"postgres":{"id":"SFOs3b6vNkZl0jhM","name":"Postgres_vector_db"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-640,-20],"id":"b2a0e569-b64f-4522-9e94-568746e14cfb","name":"Descarga_archivo","credentials":{"googleDriveOAuth2Api":{"id":"yW9f799vnl2ehurr","name":"Google_API"}}},{"parameters":{"binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-340,-20],"id":"34388ce0-1e29-47ca-baf6-3abe3c55ba7e","name":"Extracción_datos_csv"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1GceEUPgGmwoKM_uTx12jJyaBiyHwk5Cn","mode":"list","cachedResultName":"BD_Vectores","cachedResultUrl":"https://drive.google.com/drive/folders/1GceEUPgGmwoKM_uTx12jJyaBiyHwk5Cn"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-920,-20],"id":"010c8aa6-7f48-4dc9-9a02-32d8e2637ec9","name":"File_actualizado","credentials":{"googleDriveOAuth2Api":{"id":"yW9f799vnl2ehurr","name":"Google_API"}}}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Mapeado_datos","type":"ai_textSplitter","index":0}]]},"Limit_10":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Mapeado_datos":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"File_updated":{"main":[[{"node":"Borrado_BD","type":"main","index":0}]]},"Borrado_BD":{"main":[[]]},"Postgres PGVector Store":{"main":[[]]},"Descarga_archivo":{"main":[[{"node":"Extracción_datos_csv","type":"main","index":0}]]},"Extracción_datos_csv":{"main":[[{"node":"Limit_10","type":"main","index":0}]]},"File_actualizado":{"main":[[{"node":"Descarga_archivo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-01-24T13:20:33Z"},"node:File_updated":{"lastTimeChecked":"2025-01-24T13:20:34Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"File_actualizado":[{"json":{"kind":"drive#file","copyRequiresWriterPermission":false,"writersCanShare":true,"viewedByMe":true,"mimeType":"application/vnd.google-apps.spreadsheet","exportLinks":{"application/x-vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk&exportFormat=ods","text/tab-separated-values":"https://docs.google.com/spreadsheets/export?id=1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk&exportFormat=tsv","application/pdf":"https://docs.google.com/spreadsheets/export?id=1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk&exportFormat=pdf","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":"https://docs.google.com/spreadsheets/export?id=1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk&exportFormat=xlsx","text/csv":"https://docs.google.com/spreadsheets/export?id=1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk&exportFormat=csv","application/zip":"https://docs.google.com/spreadsheets/export?id=1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk&exportFormat=zip","application/vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk&exportFormat=ods"},"parents":["1GceEUPgGmwoKM_uTx12jJyaBiyHwk5Cn"],"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBNVf5r3tfn-80lVvTP6YX-i4ukdscySe626cWMPDvyc65Mx-FKmO4K6pCBE8w_ABmSXAa-HjHPvufCJpf0Okq3aXQlF3WWBXsuibEyEnO4llfSj9_1uOKiABcimZA=s220","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet","shared":false,"lastModifyingUser":{"displayName":"Juan Mari","kind":"drive#user","me":true,"permissionId":"08916116416635627471","emailAddress":"jmcaravajal@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLYjIC7jYut1tlELNUPVEwXge6u6Y6-vFwG4LYqLNHpCC-wWQ=s64"},"owners":[{"displayName":"Juan Mari","kind":"drive#user","me":true,"permissionId":"08916116416635627471","emailAddress":"jmcaravajal@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLYjIC7jYut1tlELNUPVEwXge6u6Y6-vFwG4LYqLNHpCC-wWQ=s64"}],"webViewLink":"https://docs.google.com/spreadsheets/d/1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk/edit?usp=drivesdk","size":"156357","viewersCanCopyContent":true,"permissions":[{"id":"08916116416635627471","displayName":"Juan Mari","type":"user","kind":"drive#permission","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLYjIC7jYut1tlELNUPVEwXge6u6Y6-vFwG4LYqLNHpCC-wWQ=s64","emailAddress":"jmcaravajal@gmail.com","role":"owner","deleted":false,"pendingOwner":false}],"hasThumbnail":true,"spaces":["drive"],"id":"1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk","name":"IMDB_TOP_1000_spanish","starred":false,"trashed":false,"explicitlyTrashed":false,"createdTime":"2025-01-27T09:31:35.279Z","modifiedTime":"2025-01-27T09:52:35.057Z","modifiedByMeTime":"2025-01-27T09:52:35.057Z","viewedByMeTime":"2025-01-27T09:52:35.057Z","quotaBytesUsed":"156357","version":"15","ownedByMe":true,"isAppAuthorized":false,"capabilities":{"canChangeViewersCanCopyContent":true,"canEdit":true,"canCopy":true,"canComment":true,"canAddChildren":false,"canDelete":true,"canDownload":true,"canListChildren":false,"canRemoveChildren":false,"canRename":true,"canTrash":true,"canReadRevisions":true,"canChangeCopyRequiresWriterPermission":true,"canMoveItemIntoTeamDrive":true,"canUntrash":true,"canModifyContent":true,"canMoveItemOutOfDrive":true,"canAddMyDriveParent":false,"canRemoveMyDriveParent":true,"canMoveItemWithinDrive":true,"canShare":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canChangeSecurityUpdateEnabled":false,"canAcceptOwnership":false,"canReadLabels":false,"canModifyLabels":false,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canRemoveContentRestriction":false},"thumbnailVersion":"6","modifiedByMe":true,"permissionIds":["08916116416635627471"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true}}}]},"versionId":"92d9eca2-5457-43d0-84e4-2861f354f86d","triggerCount":2,"tags":[]}