Workflows/bd_vectorial-HI7GDdFqcEfqT8fC.json
{"createdAt":"2025-01-23T13:17:39.038Z","updatedAt":"2025-01-24T15:42:56.000Z","id":"HI7GDdFqcEfqT8fC","name":"BD_Vectorial","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1240,740],"id":"868f2d0e-71f1-48c4-9946-01fd8a617dd9","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"3rI1ba1dyQUjkGgM","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[1380,900],"id":"613a0860-91c7-47d1-92ab-0dd13fe64759","name":"Token Splitter"},{"parameters":{"mode":"insert","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[1300,540],"id":"de838ee7-66fc-4cfa-bb9f-f817ef96338a","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"SFOs3b6vNkZl0jhM","name":"Postgres_vector_db"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1GceEUPgGmwoKM_uTx12jJyaBiyHwk5Cn","mode":"list","cachedResultName":"BD_Vectores","cachedResultUrl":"https://drive.google.com/drive/folders/1GceEUPgGmwoKM_uTx12jJyaBiyHwk5Cn"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-700,-20],"id":"010c8aa6-7f48-4dc9-9a02-32d8e2637ec9","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"yW9f799vnl2ehurr","name":"Google_API"}}},{"parameters":{"assignments":{"assignments":[{"id":"e83ed84a-f9e3-460d-bc0f-dcee168f2d07","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,-20],"id":"1a952e62-c8ce-4606-a4e6-e7579e69de23","name":"Set_ID"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[20,-20],"id":"b2a0e569-b64f-4522-9e94-568746e14cfb","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"yW9f799vnl2ehurr","name":"Google_API"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8c6fe69-e740-4073-ada8-9009b66fbd15","leftValue":"={{ $('Google Drive Trigger').item.json.fileExtension }}","rightValue":"pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Google Drive Trigger').item.json.fileExtension }}","rightValue":"txt","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"945a4cf2-458b-42de-b8e6-c712b7796997","leftValue":"={{ $('Google Drive Trigger').item.json.fileExtension }}","rightValue":"csv","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CSV"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[300,-20],"id":"beb44a7c-b0a1-4c4e-a20a-6c21e5d0c3dd","name":"Switch"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[900,540],"id":"d0eeef79-a820-4c82-94d4-9f0fa18112ec","name":"Extract_CSV"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[880,-20],"id":"5fe641a6-4e34-4c4f-82b3-a412073999da","name":"Extract_TXT"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1100,540],"id":"bb1c1e7d-739d-4877-93b4-9dc7d0bbb5a6","name":"Limit_10"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1260,160],"id":"7f66de78-4fee-4015-be7f-cf7c46d6cfe3","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"3rI1ba1dyQUjkGgM","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[1400,320],"id":"fa8efc27-34bc-4f21-9247-cf1ed609e34c","name":"Token Splitter1"},{"parameters":{"mode":"insert","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[1280,-20],"id":"2866d507-cfe2-4171-a9fb-a83047f8b97b","name":"Postgres PGVector Store1","credentials":{"postgres":{"id":"SFOs3b6vNkZl0jhM","name":"Postgres_vector_db"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"Document_ID","value":"={{ $('Set_ID').item.json.id }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1400,160],"id":"6990ee69-4175-4529-a9cf-0a665a7e25bb","name":"Default Data Loader1"},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Extract_CSV').item.json.Description }}","options":{"metadata":{"metadataValues":[{"name":"Document_ID","value":"={{ $('Set_ID').item.json.id }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1380,740],"id":"31add36c-b11b-4bd1-b845-2c87f77269b5","name":"Mapeado_datos"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1GceEUPgGmwoKM_uTx12jJyaBiyHwk5Cn","mode":"list","cachedResultName":"BD_Vectores","cachedResultUrl":"https://drive.google.com/drive/folders/1GceEUPgGmwoKM_uTx12jJyaBiyHwk5Cn"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-700,-220],"id":"b533284b-2427-414a-8761-5e41bcf1628c","name":"File_updated","credentials":{"googleDriveOAuth2Api":{"id":"yW9f799vnl2ehurr","name":"Google_API"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_vectors","mode":"list","cachedResultName":"n8n_vectors"},"deleteCommand":"delete","where":{"values":[{"column":"metadata","value":"={\"loc\": {\"lines\": {\"to\": 1, \"from\": 1}}, \"source\": \"blob\", \"blobType\": \"text/plain\", \"Document_ID\": \"{{ $json.id }}\"}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-420,-220],"id":"6239fb7b-8a94-4dbc-a1ca-6ff81cbae524","name":"Borrado_BD","credentials":{"postgres":{"id":"SFOs3b6vNkZl0jhM","name":"Postgres_vector_db"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[880,-440],"id":"105be875-50ab-4399-a3eb-df401a452758","name":"Extract from File"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1220,-520],"id":"ac0c7407-845f-4326-9b91-15c487bb7618","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"3rI1ba1dyQUjkGgM","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[1400,-360],"id":"a3137810-0dbc-44b8-b340-52b01a7318c8","name":"Token Splitter2"},{"parameters":{"mode":"insert","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[1300,-720],"id":"4a6fc4df-ad01-45e2-b25d-b2c3e59ff5a8","name":"Postgres PGVector Store2","credentials":{"postgres":{"id":"SFOs3b6vNkZl0jhM","name":"Postgres_vector_db"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.text }}","options":{"metadata":{"metadataValues":[{"name":"Document_ID","value":"={{ $('Set_ID').item.json.id }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1340,-520],"id":"845b8150-287c-49a7-8f3c-a0ee93c272a7","name":"Default Data Loader"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Mapeado_datos","type":"ai_textSplitter","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Set_ID","type":"main","index":0}]]},"Set_ID":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"Extract_TXT","type":"main","index":0}],[{"node":"Extract_CSV","type":"main","index":0}]]},"Extract_TXT":{"main":[[]]},"Extract_CSV":{"main":[[{"node":"Limit_10","type":"main","index":0}]]},"Limit_10":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Postgres PGVector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Postgres PGVector Store1","type":"ai_document","index":0}]]},"Token Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Mapeado_datos":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"File_updated":{"main":[[{"node":"Borrado_BD","type":"main","index":0}]]},"Borrado_BD":{"main":[[]]},"Extract from File":{"main":[[{"node":"Postgres PGVector Store2","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Postgres PGVector Store2","type":"ai_embedding","index":0}]]},"Token Splitter2":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store2","type":"ai_document","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-01-24T13:20:33Z"},"node:File_updated":{"lastTimeChecked":"2025-01-24T13:20:34Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Drive Trigger":[{"json":{"kind":"drive#file","fileExtension":"pdf","copyRequiresWriterPermission":false,"md5Checksum":"04443f0f193a4b7e68cc39011410aab7","writersCanShare":true,"viewedByMe":true,"mimeType":"application/pdf","parents":["1GceEUPgGmwoKM_uTx12jJyaBiyHwk5Cn"],"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBMLKNqXd6HAiFGgOBv5z8u4AibMb81_wwDw8dqJ3vLBSmPBmk9Cio0Oip_r-n5pgdxoJs_Rk5HJGkzm0zlgR0foCg87oiW2kj80SMTU9rqBow=s220","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","shared":false,"lastModifyingUser":{"displayName":"Juan Mari","kind":"drive#user","me":true,"permissionId":"08916116416635627471","emailAddress":"jmcaravajal@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLYjIC7jYut1tlELNUPVEwXge6u6Y6-vFwG4LYqLNHpCC-wWQ=s64"},"owners":[{"displayName":"Juan Mari","kind":"drive#user","me":true,"permissionId":"08916116416635627471","emailAddress":"jmcaravajal@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLYjIC7jYut1tlELNUPVEwXge6u6Y6-vFwG4LYqLNHpCC-wWQ=s64"}],"headRevisionId":"0BxIL3kfoIniHdkdLVVZZNkoveUlFWjEyMEZwSUJmUjlLTVFjPQ","webViewLink":"https://drive.google.com/file/d/1MjFzfcCauBu6-fNGe5LK1UVZW3WkigzT/view?usp=drivesdk","webContentLink":"https://drive.google.com/uc?id=1MjFzfcCauBu6-fNGe5LK1UVZW3WkigzT&export=download","size":"618917","viewersCanCopyContent":true,"permissions":[{"id":"08916116416635627471","displayName":"Juan Mari","type":"user","kind":"drive#permission","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLYjIC7jYut1tlELNUPVEwXge6u6Y6-vFwG4LYqLNHpCC-wWQ=s64","emailAddress":"jmcaravajal@gmail.com","role":"owner","deleted":false,"pendingOwner":false}],"hasThumbnail":true,"spaces":["drive"],"id":"1MjFzfcCauBu6-fNGe5LK1UVZW3WkigzT","name":"MEMORIA DE ACTIVIDAD.pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"createdTime":"2025-01-24T15:25:46.313Z","modifiedTime":"2025-01-24T15:25:21.000Z","modifiedByMeTime":"2025-01-24T15:25:21.000Z","viewedByMeTime":"2025-01-24T15:25:46.313Z","quotaBytesUsed":"618917","version":"3","originalFilename":"MEMORIA DE ACTIVIDAD.pdf","ownedByMe":true,"fullFileExtension":"pdf","isAppAuthorized":false,"capabilities":{"canChangeViewersCanCopyContent":true,"canEdit":true,"canCopy":true,"canComment":true,"canAddChildren":false,"canDelete":true,"canDownload":true,"canListChildren":false,"canRemoveChildren":false,"canRename":true,"canTrash":true,"canReadRevisions":true,"canChangeCopyRequiresWriterPermission":true,"canMoveItemIntoTeamDrive":true,"canUntrash":true,"canModifyContent":true,"canMoveItemOutOfDrive":true,"canAddMyDriveParent":false,"canRemoveMyDriveParent":true,"canMoveItemWithinDrive":true,"canShare":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canChangeSecurityUpdateEnabled":false,"canAcceptOwnership":false,"canReadLabels":false,"canModifyLabels":false,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canRemoveContentRestriction":false},"thumbnailVersion":"1","modifiedByMe":true,"permissionIds":["08916116416635627471"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"sha1Checksum":"4f2a66f8a92e52d27d89e70021f561c29703be2b","sha256Checksum":"fe262c9df8477546e99be03488bba150e6d9a43373a2e598c803b5a65798e351"}}]},"versionId":"523ecf23-939d-417b-af25-a0c9a10b3fdb","triggerCount":2,"tags":[]}