Workflows/evolution-api---endpoints-BtKB96voiqBzxoI5.json
{"createdAt":"2025-01-13T22:13:57.406Z","updatedAt":"2025-01-13T23:01:27.000Z","id":"BtKB96voiqBzxoI5","name":"Evolution api - EndPoints","active":false,"nodes":[{"parameters":{},"id":"b67648cf-52fd-45cd-8e1d-f821da39c2fd","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[0,200],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"93f57008-99b7-4d9b-b67d-62b4cd2f5c23","name":"urlEvolutionApi","value":"https://evolution-evolution.w1mcss.easypanel.host/","type":"string"},{"id":"cfddaf1d-b4c0-4429-983c-176d536da3e1","name":"apikeyGlobal","value":"6F6o42v0sVDxbOw8AYDPIOG2Bwh3Po4x","type":"string"},{"id":"07662f9e-5992-4ee7-b0c6-1dae4924bb1a","name":"whatsappDestino","value":"34606024754","type":"string"},{"id":"5e02bdd7-b30a-443b-8aad-27c73bb9627a","name":"nombreInstancia","value":"Juan Mari","type":"string"}]},"options":{}},"id":"6c26d3c5-421b-4e9e-8f67-61a421a21c3d","name":"Variables","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[180,200]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendTemplate/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Variables').item.json.whatsappDestino }}\",\n    \"name\": \"hello_world\",\n    \"language\": \"en_US\",\n    \"components\": [\n        {\n            \"type\": \"body\",\n            \"parameters\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"Name\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"email@email.com\"\n                }\n            ]\n        },\n        {\n            \"type\": \"button\",\n            \"sub_type\": \"URL\",\n            \"index\": \"1\",\n            \"parameters\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"/reset-password/1234\"\n                }\n            ]\n        }\n    ]\n}","options":{}},"id":"d3a3dfbf-891f-4eb3-b2d6-324e2c9b4c82","name":"Send Template","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,440]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendText/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"text","value":"Hola my friend!! soy Elle!! 👀..."},{"name":"delay","value":"={{ 1000 }}"},{"name":"linkPreview","value":"={{ true }}"},{"name":"mentionsEveryOne","value":"={{ true }}"}]},"options":{}},"id":"f6c63b8f-2744-4b2f-8638-86bef1bbabee","name":"Send Text","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,620]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendMedia/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"mediatype","value":"image"},{"name":"mimetype","value":"image/jpeg"},{"name":"caption","value":"Caption de ejemplo"},{"name":"media","value":"https://www.fundacionaquae.org/wp-content/uploads/2018/10/proteger-a-los-animales.jpg"},{"name":"fileName","value":"foto.jpg"},{"name":"delay","value":"={{ 1000 }}"},{"name":"quoted","value":"={{ \n{\n  \"key\": {\n    \"remoteJid\": \"56982574761@s.whatsapp.net\",\n    \"fromMe\": false,\n    \"id\": \"7976EF7AF7DCB6E65D\"\n  },\n  \"pushName\": \"Ben\",\n  \"message\": {\n    \"extendedTextMessage\": {\n      \"text\": \"hhhhhh\",\n      \"contextInfo\": {\n        \"expiration\": 0,\n        \"ephemeralSettingTimestamp\": \"0\",\n        \"disappearingMode\": {\n          \"initiator\": \"CHANGED_IN_CHAT\"\n        }\n      }\n    },\n    \"messageContextInfo\": {\n      \"deviceListMetadata\": {\n        \"senderKeyHash\": \"WGJHyqZ2DhDNmA==\",\n        \"senderTimestamp\": \"1717854557\",\n        \"recipientKeyHash\": \"NIcJiC7QCVgbQQ==\",\n        \"recipientTimestamp\": \"1718306911\"\n      },\n      \"deviceListMetadataVersion\": 2\n    }\n  },\n  \"contextInfo\": {\n    \"expiration\": 0,\n    \"ephemeralSettingTimestamp\": \"0\",\n    \"disappearingMode\": {\n      \"initiator\": \"CHANGED_IN_CHAT\"\n    }\n  },\n  \"messageType\": \"extendedTextMessage\",\n  \"messageTimestamp\": 1718317624,\n  \"instanceId\": \"329c1fbd-58a9-4412-bfdd-81d639aa491a\",\n  \"source\": \"desktop\"\n}\n}}"},{"name":"mentionsEveryOne","value":"={{ false }}"},{"name":"mentioned","value":"={{ [$('Variables').item.json.whatsappDestino] }}"}]},"options":{}},"id":"f1f6555e-8b65-4bb7-8e9a-7efaeb3ef7f3","name":"Send Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,800]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendWhatsAppAudio/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"audio","value":"http://www.sonidosmp3gratis.com/sounds/ringtones-pato-donald.mp3"},{"name":"delay","value":"={{ 1000 }}"},{"name":"quoted","value":"={{ \n{\n  \"key\": {\n    \"remoteJid\": \"56982574761@s.whatsapp.net\",\n    \"fromMe\": false,\n    \"id\": \"7976EF7AF7DCB6E65D\"\n  },\n  \"pushName\": \"Ben\",\n  \"message\": {\n    \"extendedTextMessage\": {\n      \"text\": \"hhhhhh\",\n      \"contextInfo\": {\n        \"expiration\": 0,\n        \"ephemeralSettingTimestamp\": \"0\",\n        \"disappearingMode\": {\n          \"initiator\": \"CHANGED_IN_CHAT\"\n        }\n      }\n    },\n    \"messageContextInfo\": {\n      \"deviceListMetadata\": {\n        \"senderKeyHash\": \"WGJHyqZ2DhDNmA==\",\n        \"senderTimestamp\": \"1717854557\",\n        \"recipientKeyHash\": \"NIcJiC7QCVgbQQ==\",\n        \"recipientTimestamp\": \"1718306911\"\n      },\n      \"deviceListMetadataVersion\": 2\n    }\n  },\n  \"contextInfo\": {\n    \"expiration\": 0,\n    \"ephemeralSettingTimestamp\": \"0\",\n    \"disappearingMode\": {\n      \"initiator\": \"CHANGED_IN_CHAT\"\n    }\n  },\n  \"messageType\": \"extendedTextMessage\",\n  \"messageTimestamp\": 1718317624,\n  \"instanceId\": \"329c1fbd-58a9-4412-bfdd-81d639aa491a\",\n  \"source\": \"desktop\"\n}\n}}"},{"name":"mentionsEveryOne","value":"={{ false }}"},{"name":"mentioned","value":"={{ [$('Variables').item.json.whatsappDestino] }}"},{"name":"encoding","value":"={{ true }}"}]},"options":{}},"id":"7bfa726f-0431-45ac-baad-37457aa255df","name":"Send Narrated Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,980]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendStatus/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"type","value":"image"},{"name":"content","value":"https://www.fundacionaquae.org/wp-content/uploads/2018/10/proteger-a-los-animales.jpg"},{"name":"caption","value":"Hola, esto es un estado de pruebas 🙂"},{"name":"backgroundColor","value":"#ffffff"},{"name":"font","value":"={{ 5 }}"},{"name":"allContacts","value":"={{ true }}"},{"name":"statusJidList","value":"={{ [$('Variables').item.json.whatsappDestino] }}"}]},"options":{}},"id":"7be491e8-2541-4783-a297-bef18afd63fd","name":"Send Status/Stories","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,1160]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendSticker/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"sticker","value":"https://static.vecteezy.com/system/resources/thumbnails/027/246/669/small/fox-isolated-on-transparent-background-ai-generated-png.png"},{"name":"delay","value":"={{ 1000 }}"},{"name":"quoted","value":"={{ \n{\n  \"key\": {\n    \"remoteJid\": \"56982574761@s.whatsapp.net\",\n    \"fromMe\": false,\n    \"id\": \"7976EF7AF7DCB6E65D\"\n  },\n  \"pushName\": \"Ben\",\n  \"message\": {\n    \"extendedTextMessage\": {\n      \"text\": \"hhhhhh\",\n      \"contextInfo\": {\n        \"expiration\": 0,\n        \"ephemeralSettingTimestamp\": \"0\",\n        \"disappearingMode\": {\n          \"initiator\": \"CHANGED_IN_CHAT\"\n        }\n      }\n    },\n    \"messageContextInfo\": {\n      \"deviceListMetadata\": {\n        \"senderKeyHash\": \"WGJHyqZ2DhDNmA==\",\n        \"senderTimestamp\": \"1717854557\",\n        \"recipientKeyHash\": \"NIcJiC7QCVgbQQ==\",\n        \"recipientTimestamp\": \"1718306911\"\n      },\n      \"deviceListMetadataVersion\": 2\n    }\n  },\n  \"contextInfo\": {\n    \"expiration\": 0,\n    \"ephemeralSettingTimestamp\": \"0\",\n    \"disappearingMode\": {\n      \"initiator\": \"CHANGED_IN_CHAT\"\n    }\n  },\n  \"messageType\": \"extendedTextMessage\",\n  \"messageTimestamp\": 1718317624,\n  \"instanceId\": \"329c1fbd-58a9-4412-bfdd-81d639aa491a\",\n  \"source\": \"desktop\"\n}\n}}"},{"name":"mentionsEveryOne","value":"={{ false }}"},{"name":"mentioned","value":"={{ [$('Variables').item.json.whatsappDestino] }}"}]},"options":{}},"id":"ecac5fb3-aa8f-4c0f-9902-f18fa650bed3","name":"Send Sticker","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,440]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendLocation/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"name","value":"Estadio Monumental David Arellano"},{"name":"address","value":"Av. Marathon 5300, Macul, Región Metropolitana"},{"name":"latitude","value":"={{ 36.52672 }}"},{"name":"longitude","value":"={{ -6.2891 }}"},{"name":"delay","value":"={{ 1000 }}"},{"name":"quoted","value":"={{ \n{\n  \"key\": {\n    \"remoteJid\": \"56982574761@s.whatsapp.net\",\n    \"fromMe\": false,\n    \"id\": \"7976EF7AF7DCB6E65D\"\n  },\n  \"pushName\": \"Ben\",\n  \"message\": {\n    \"extendedTextMessage\": {\n      \"text\": \"hhhhhh\",\n      \"contextInfo\": {\n        \"expiration\": 0,\n        \"ephemeralSettingTimestamp\": \"0\",\n        \"disappearingMode\": {\n          \"initiator\": \"CHANGED_IN_CHAT\"\n        }\n      }\n    },\n    \"messageContextInfo\": {\n      \"deviceListMetadata\": {\n        \"senderKeyHash\": \"WGJHyqZ2DhDNmA==\",\n        \"senderTimestamp\": \"1717854557\",\n        \"recipientKeyHash\": \"NIcJiC7QCVgbQQ==\",\n        \"recipientTimestamp\": \"1718306911\"\n      },\n      \"deviceListMetadataVersion\": 2\n    }\n  },\n  \"contextInfo\": {\n    \"expiration\": 0,\n    \"ephemeralSettingTimestamp\": \"0\",\n    \"disappearingMode\": {\n      \"initiator\": \"CHANGED_IN_CHAT\"\n    }\n  },\n  \"messageType\": \"extendedTextMessage\",\n  \"messageTimestamp\": 1718317624,\n  \"instanceId\": \"329c1fbd-58a9-4412-bfdd-81d639aa491a\",\n  \"source\": \"desktop\"\n}\n}}"},{"name":"mentionsEveryOne","value":"={{ false }}"},{"name":"mentioned","value":"={{ [$('Variables').item.json.whatsappDestino] }}"}]},"options":{}},"id":"4d9ebafd-8071-4e53-b4e8-ef2f4ffba16d","name":"Send Location","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,620]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendContact/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"contact","value":"={{ [\n        {\n            \"fullName\": \"VA360\",\n            \"wuid\": \"12345678\",\n            \"phoneNumber\": \"+123456789\",\n            \"organization\": \"1stak\",\n            \"email\": \"valen@va360.pro\",\n            \"url\": \"https://va360.pro/\"\n        }\n    ] }}"}]},"options":{}},"id":"1aa3b489-3c62-48eb-b604-4033fd80ad81","name":"Send Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,800]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendReaction/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"key","value":"={{ \n{\n  \"remoteJid\": \"56926009324@s.whatsapp.net\",\n  \"fromMe\": true,\n  \"id\": \"3EB00D912943F596E330E36043FE211B69CFC29D\"\n}\n}}"},{"name":"reaction","value":"⚽"}]},"options":{}},"id":"ec74a0cd-9b64-4ced-a05a-50cd9f4f6467","name":"Send Reaction","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,980]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendPoll/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"name","value":"Esto es una encuesta de pruebas"},{"name":"selectableCount","value":"={{ 3 }}"},{"name":"values","value":"={{ \n[\n\"🐶 O cachorro mia\",\n\"😺 O gato late\",\n\"🐸 O sapo pia\"\n] \n}}"},{"name":"delay","value":"={{ 1000 }}"},{"name":"quoted","value":"={{ \n{\n  \"key\": {\n    \"remoteJid\": \"56982574761@s.whatsapp.net\",\n    \"fromMe\": false,\n    \"id\": \"7976EF7AF7DCB6E65D\"\n  },\n  \"pushName\": \"Ben\",\n  \"message\": {\n    \"extendedTextMessage\": {\n      \"text\": \"hhhhhh\",\n      \"contextInfo\": {\n        \"expiration\": 0,\n        \"ephemeralSettingTimestamp\": \"0\",\n        \"disappearingMode\": {\n          \"initiator\": \"CHANGED_IN_CHAT\"\n        }\n      }\n    },\n    \"messageContextInfo\": {\n      \"deviceListMetadata\": {\n        \"senderKeyHash\": \"WGJHyqZ2DhDNmA==\",\n        \"senderTimestamp\": \"1717854557\",\n        \"recipientKeyHash\": \"NIcJiC7QCVgbQQ==\",\n        \"recipientTimestamp\": \"1718306911\"\n      },\n      \"deviceListMetadataVersion\": 2\n    }\n  },\n  \"contextInfo\": {\n    \"expiration\": 0,\n    \"ephemeralSettingTimestamp\": \"0\",\n    \"disappearingMode\": {\n      \"initiator\": \"CHANGED_IN_CHAT\"\n    }\n  },\n  \"messageType\": \"extendedTextMessage\",\n  \"messageTimestamp\": 1718317624,\n  \"instanceId\": \"329c1fbd-58a9-4412-bfdd-81d639aa491a\",\n  \"source\": \"desktop\"\n}\n}}"},{"name":"mentionsEveryOne","value":"={{ false }}"},{"name":"mentioned","value":"={{ [$('Variables').item.json.whatsappDestino] }}"}]},"options":{}},"id":"14912eef-f0c9-43d1-a226-da5dc6e20316","name":"Send Poll","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,1160]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendList/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"title","value":"El título de la lista"},{"name":"description","value":"La descripción de la lista"},{"name":"buttonText","value":"El texto del botón"},{"name":"footerText","value":"El texto del footer"},{"name":"sections","value":"={{ [\n        {\n            \"title\": \"Row tilte 01\",\n            \"rows\": [\n                {\n                    \"title\": \"Title row 01\",\n                    \"description\": \"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,\",\n                    \"rowId\": \"rowId 001\"\n                },\n                {\n                    \"title\": \"Title row 02\",\n                    \"description\": \"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,\",\n                    \"rowId\": \"rowId 002\"\n                }\n            ]\n        },\n        {\n            \"title\": \"Row tilte 02\",\n            \"rows\": [\n                {\n                    \"title\": \"Title row 01\",\n                    \"description\": \"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,\",\n                    \"rowId\": \"rowId 001\"\n                },\n                {\n                    \"title\": \"Title row 02\",\n                    \"description\": \"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,\",\n                    \"rowId\": \"rowId 002\"\n                }\n            ]\n        }\n    ] }}"},{"name":"delay","value":"={{ 1000 }}"},{"name":"quoted","value":"={{ \n{\n  \"key\": {\n    \"remoteJid\": \"56982574761@s.whatsapp.net\",\n    \"fromMe\": false,\n    \"id\": \"7976EF7AF7DCB6E65D\"\n  },\n  \"pushName\": \"Ben\",\n  \"message\": {\n    \"extendedTextMessage\": {\n      \"text\": \"hhhhhh\",\n      \"contextInfo\": {\n        \"expiration\": 0,\n        \"ephemeralSettingTimestamp\": \"0\",\n        \"disappearingMode\": {\n          \"initiator\": \"CHANGED_IN_CHAT\"\n        }\n      }\n    },\n    \"messageContextInfo\": {\n      \"deviceListMetadata\": {\n        \"senderKeyHash\": \"WGJHyqZ2DhDNmA==\",\n        \"senderTimestamp\": \"1717854557\",\n        \"recipientKeyHash\": \"NIcJiC7QCVgbQQ==\",\n        \"recipientTimestamp\": \"1718306911\"\n      },\n      \"deviceListMetadataVersion\": 2\n    }\n  },\n  \"contextInfo\": {\n    \"expiration\": 0,\n    \"ephemeralSettingTimestamp\": \"0\",\n    \"disappearingMode\": {\n      \"initiator\": \"CHANGED_IN_CHAT\"\n    }\n  },\n  \"messageType\": \"extendedTextMessage\",\n  \"messageTimestamp\": 1718317624,\n  \"instanceId\": \"329c1fbd-58a9-4412-bfdd-81d639aa491a\",\n  \"source\": \"desktop\"\n}\n}}"},{"name":"mentionsEveryOne","value":"={{ false }}"},{"name":"mentioned","value":"={{ [$('Variables').item.json.whatsappDestino] }}"}]},"options":{}},"id":"e81731d9-576b-4b95-aa88-163e522be47c","name":"Send List","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,1340]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Variables","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Send Template","type":"main","index":0},{"node":"Send Text","type":"main","index":0},{"node":"Send Media","type":"main","index":0},{"node":"Send Narrated Audio","type":"main","index":0},{"node":"Send Status/Stories","type":"main","index":0},{"node":"Send Sticker","type":"main","index":0},{"node":"Send Location","type":"main","index":0},{"node":"Send Contact","type":"main","index":0},{"node":"Send Reaction","type":"main","index":0},{"node":"Send Poll","type":"main","index":0},{"node":"Send List","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"99b489dc-db67-47f7-8f48-129f874fdbfe","triggerCount":0,"tags":[{"createdAt":"2025-01-13T22:44:27.951Z","updatedAt":"2025-01-13T22:44:27.951Z","id":"OIncxU1q0TDWV9nX","name":"Evo_v2 🟩"}]}