Workflows/evolutionapi_endpoints-e0UVbcN6of1mMm6a.json
{"createdAt":"2025-01-15T14:57:46.345Z","updatedAt":"2025-01-16T16:27:00.000Z","id":"e0UVbcN6of1mMm6a","name":"EvolutionAPI_EndPoints","active":false,"nodes":[{"parameters":{},"id":"011efd8e-22dc-46fb-b2c2-bd2e130de1d6","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[0,0],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"93f57008-99b7-4d9b-b67d-62b4cd2f5c23","name":"urlEvolutionApi","value":"https://evolutionapi-evolution.w1mcss.easypanel.host/","type":"string"},{"id":"cfddaf1d-b4c0-4429-983c-176d536da3e1","name":"apikeyGlobal","value":"An2u&xLhyfefGbU2PoP7HvvVCS$QAnfV","type":"string"},{"id":"07662f9e-5992-4ee7-b0c6-1dae4924bb1a","name":"whatsappDestino","value":"34606024754","type":"string"},{"id":"5e02bdd7-b30a-443b-8aad-27c73bb9627a","name":"nombreInstancia","value":"Elle","type":"string"}]},"options":{}},"id":"a62be9e1-0d3b-4b4b-a005-a199fe9751d1","name":"Variables","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[180,0]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendTemplate/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Variables').item.json.whatsappDestino }}\",\n    \"name\": \"hello_world\",\n    \"language\": \"en_US\",\n    \"components\": [\n        {\n            \"type\": \"body\",\n            \"parameters\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"Name\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"email@email.com\"\n                }\n            ]\n        },\n        {\n            \"type\": \"button\",\n            \"sub_type\": \"URL\",\n            \"index\": \"1\",\n            \"parameters\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"/reset-password/1234\"\n                }\n            ]\n        }\n    ]\n}","options":{}},"id":"eb88c321-f684-4485-9f95-476df20e704d","name":"Send Template","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,240]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendText/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"text","value":"Hola Natalia! soy Elle, Juan me ha pedido que te saludara"},{"name":"delay","value":"={{ 1000 }}"},{"name":"linkPreview","value":"={{ true }}"},{"name":"mentionsEveryOne","value":"={{ true }}"}]},"options":{}},"id":"e985ab9c-0dab-4e24-84f5-5ac3540b711e","name":"Send Text","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,420]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendMedia/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"mediatype","value":"image"},{"name":"mimetype","value":"image/jpeg"},{"name":"caption","value":"Caption de ejemplo"},{"name":"media","value":"https://www.fundacionaquae.org/wp-content/uploads/2018/10/proteger-a-los-animales.jpg"},{"name":"fileName","value":"foto.jpg"},{"name":"delay","value":"={{ 1000 }}"},{"name":"quoted","value":"={{ \n{\n  \"key\": {\n    \"remoteJid\": \"56982574761@s.whatsapp.net\",\n    \"fromMe\": false,\n    \"id\": \"7976EF7AF7DCB6E65D\"\n  },\n  \"pushName\": \"Ben\",\n  \"message\": {\n    \"extendedTextMessage\": {\n      \"text\": \"hhhhhh\",\n      \"contextInfo\": {\n        \"expiration\": 0,\n        \"ephemeralSettingTimestamp\": \"0\",\n        \"disappearingMode\": {\n          \"initiator\": \"CHANGED_IN_CHAT\"\n        }\n      }\n    },\n    \"messageContextInfo\": {\n      \"deviceListMetadata\": {\n        \"senderKeyHash\": \"WGJHyqZ2DhDNmA==\",\n        \"senderTimestamp\": \"1717854557\",\n        \"recipientKeyHash\": \"NIcJiC7QCVgbQQ==\",\n        \"recipientTimestamp\": \"1718306911\"\n      },\n      \"deviceListMetadataVersion\": 2\n    }\n  },\n  \"contextInfo\": {\n    \"expiration\": 0,\n    \"ephemeralSettingTimestamp\": \"0\",\n    \"disappearingMode\": {\n      \"initiator\": \"CHANGED_IN_CHAT\"\n    }\n  },\n  \"messageType\": \"extendedTextMessage\",\n  \"messageTimestamp\": 1718317624,\n  \"instanceId\": \"329c1fbd-58a9-4412-bfdd-81d639aa491a\",\n  \"source\": \"desktop\"\n}\n}}"},{"name":"mentionsEveryOne","value":"={{ false }}"},{"name":"mentioned","value":"={{ [$('Variables').item.json.whatsappDestino] }}"}]},"options":{}},"id":"f74b4f53-2e3d-49d0-855a-ad0b97f027f5","name":"Send Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,600]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendWhatsAppAudio/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"audio","value":"http://www.sonidosmp3gratis.com/sounds/ringtones-pato-donald.mp3"},{"name":"delay","value":"={{ 1000 }}"},{"name":"quoted","value":"={{ \n{\n  \"key\": {\n    \"remoteJid\": \"56982574761@s.whatsapp.net\",\n    \"fromMe\": false,\n    \"id\": \"7976EF7AF7DCB6E65D\"\n  },\n  \"pushName\": \"Ben\",\n  \"message\": {\n    \"extendedTextMessage\": {\n      \"text\": \"hhhhhh\",\n      \"contextInfo\": {\n        \"expiration\": 0,\n        \"ephemeralSettingTimestamp\": \"0\",\n        \"disappearingMode\": {\n          \"initiator\": \"CHANGED_IN_CHAT\"\n        }\n      }\n    },\n    \"messageContextInfo\": {\n      \"deviceListMetadata\": {\n        \"senderKeyHash\": \"WGJHyqZ2DhDNmA==\",\n        \"senderTimestamp\": \"1717854557\",\n        \"recipientKeyHash\": \"NIcJiC7QCVgbQQ==\",\n        \"recipientTimestamp\": \"1718306911\"\n      },\n      \"deviceListMetadataVersion\": 2\n    }\n  },\n  \"contextInfo\": {\n    \"expiration\": 0,\n    \"ephemeralSettingTimestamp\": \"0\",\n    \"disappearingMode\": {\n      \"initiator\": \"CHANGED_IN_CHAT\"\n    }\n  },\n  \"messageType\": \"extendedTextMessage\",\n  \"messageTimestamp\": 1718317624,\n  \"instanceId\": \"329c1fbd-58a9-4412-bfdd-81d639aa491a\",\n  \"source\": \"desktop\"\n}\n}}"},{"name":"mentionsEveryOne","value":"={{ false }}"},{"name":"mentioned","value":"={{ [$('Variables').item.json.whatsappDestino] }}"},{"name":"encoding","value":"={{ true }}"}]},"options":{}},"id":"285b6acf-bd3b-44ea-9efb-7d044160c687","name":"Send Narrated Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,780]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendStatus/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"type","value":"image"},{"name":"content","value":"https://www.fundacionaquae.org/wp-content/uploads/2018/10/proteger-a-los-animales.jpg"},{"name":"caption","value":"Hola, esto es un estado de pruebas 🙂"},{"name":"backgroundColor","value":"#ffffff"},{"name":"font","value":"={{ 5 }}"},{"name":"allContacts","value":"={{ true }}"},{"name":"statusJidList","value":"={{ [$('Variables').item.json.whatsappDestino] }}"}]},"options":{}},"id":"9c24bb2d-b294-4f95-a840-0a0bef655b58","name":"Send Status/Stories","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,960]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendSticker/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"sticker","value":"https://static.vecteezy.com/system/resources/thumbnails/027/246/669/small/fox-isolated-on-transparent-background-ai-generated-png.png"},{"name":"delay","value":"={{ 1000 }}"},{"name":"quoted","value":"={{ \n{\n  \"key\": {\n    \"remoteJid\": \"56982574761@s.whatsapp.net\",\n    \"fromMe\": false,\n    \"id\": \"7976EF7AF7DCB6E65D\"\n  },\n  \"pushName\": \"Ben\",\n  \"message\": {\n    \"extendedTextMessage\": {\n      \"text\": \"hhhhhh\",\n      \"contextInfo\": {\n        \"expiration\": 0,\n        \"ephemeralSettingTimestamp\": \"0\",\n        \"disappearingMode\": {\n          \"initiator\": \"CHANGED_IN_CHAT\"\n        }\n      }\n    },\n    \"messageContextInfo\": {\n      \"deviceListMetadata\": {\n        \"senderKeyHash\": \"WGJHyqZ2DhDNmA==\",\n        \"senderTimestamp\": \"1717854557\",\n        \"recipientKeyHash\": \"NIcJiC7QCVgbQQ==\",\n        \"recipientTimestamp\": \"1718306911\"\n      },\n      \"deviceListMetadataVersion\": 2\n    }\n  },\n  \"contextInfo\": {\n    \"expiration\": 0,\n    \"ephemeralSettingTimestamp\": \"0\",\n    \"disappearingMode\": {\n      \"initiator\": \"CHANGED_IN_CHAT\"\n    }\n  },\n  \"messageType\": \"extendedTextMessage\",\n  \"messageTimestamp\": 1718317624,\n  \"instanceId\": \"329c1fbd-58a9-4412-bfdd-81d639aa491a\",\n  \"source\": \"desktop\"\n}\n}}"},{"name":"mentionsEveryOne","value":"={{ false }}"},{"name":"mentioned","value":"={{ [$('Variables').item.json.whatsappDestino] }}"}]},"options":{}},"id":"82dfb218-4787-46f2-bc1d-35c177cb3d92","name":"Send Sticker","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,240]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendLocation/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"name","value":"Estadio Monumental David Arellano"},{"name":"address","value":"Av. Marathon 5300, Macul, Región Metropolitana"},{"name":"latitude","value":"={{ 36.52672 }}"},{"name":"longitude","value":"={{ -6.2891 }}"},{"name":"delay","value":"={{ 1000 }}"},{"name":"quoted","value":"={{ \n{\n  \"key\": {\n    \"remoteJid\": \"56982574761@s.whatsapp.net\",\n    \"fromMe\": false,\n    \"id\": \"7976EF7AF7DCB6E65D\"\n  },\n  \"pushName\": \"Ben\",\n  \"message\": {\n    \"extendedTextMessage\": {\n      \"text\": \"hhhhhh\",\n      \"contextInfo\": {\n        \"expiration\": 0,\n        \"ephemeralSettingTimestamp\": \"0\",\n        \"disappearingMode\": {\n          \"initiator\": \"CHANGED_IN_CHAT\"\n        }\n      }\n    },\n    \"messageContextInfo\": {\n      \"deviceListMetadata\": {\n        \"senderKeyHash\": \"WGJHyqZ2DhDNmA==\",\n        \"senderTimestamp\": \"1717854557\",\n        \"recipientKeyHash\": \"NIcJiC7QCVgbQQ==\",\n        \"recipientTimestamp\": \"1718306911\"\n      },\n      \"deviceListMetadataVersion\": 2\n    }\n  },\n  \"contextInfo\": {\n    \"expiration\": 0,\n    \"ephemeralSettingTimestamp\": \"0\",\n    \"disappearingMode\": {\n      \"initiator\": \"CHANGED_IN_CHAT\"\n    }\n  },\n  \"messageType\": \"extendedTextMessage\",\n  \"messageTimestamp\": 1718317624,\n  \"instanceId\": \"329c1fbd-58a9-4412-bfdd-81d639aa491a\",\n  \"source\": \"desktop\"\n}\n}}"},{"name":"mentionsEveryOne","value":"={{ false }}"},{"name":"mentioned","value":"={{ [$('Variables').item.json.whatsappDestino] }}"}]},"options":{}},"id":"17ac9417-0332-4714-b2a5-8b719d0743bc","name":"Send Location","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,420]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendContact/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"contact","value":"={{ [\n        {\n            \"fullName\": \"VA360\",\n            \"wuid\": \"12345678\",\n            \"phoneNumber\": \"+123456789\",\n            \"organization\": \"1stak\",\n            \"email\": \"valen@va360.pro\",\n            \"url\": \"https://va360.pro/\"\n        }\n    ] }}"}]},"options":{}},"id":"4275e643-3e22-492b-9663-f4d1ff1a7db9","name":"Send Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,600]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendReaction/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"key","value":"={{ \n{\n  \"remoteJid\": \"56926009324@s.whatsapp.net\",\n  \"fromMe\": true,\n  \"id\": \"3EB00D912943F596E330E36043FE211B69CFC29D\"\n}\n}}"},{"name":"reaction","value":"⚽"}]},"options":{}},"id":"e47bea0d-9c62-498a-a4c0-8cf9dc0dc01e","name":"Send Reaction","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,780]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendPoll/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"name","value":"Esto es una encuesta de pruebas"},{"name":"selectableCount","value":"={{ 3 }}"},{"name":"values","value":"={{ \n[\n\"🐶 O cachorro mia\",\n\"😺 O gato late\",\n\"🐸 O sapo pia\"\n] \n}}"},{"name":"delay","value":"={{ 1000 }}"},{"name":"quoted","value":"={{ \n{\n  \"key\": {\n    \"remoteJid\": \"56982574761@s.whatsapp.net\",\n    \"fromMe\": false,\n    \"id\": \"7976EF7AF7DCB6E65D\"\n  },\n  \"pushName\": \"Ben\",\n  \"message\": {\n    \"extendedTextMessage\": {\n      \"text\": \"hhhhhh\",\n      \"contextInfo\": {\n        \"expiration\": 0,\n        \"ephemeralSettingTimestamp\": \"0\",\n        \"disappearingMode\": {\n          \"initiator\": \"CHANGED_IN_CHAT\"\n        }\n      }\n    },\n    \"messageContextInfo\": {\n      \"deviceListMetadata\": {\n        \"senderKeyHash\": \"WGJHyqZ2DhDNmA==\",\n        \"senderTimestamp\": \"1717854557\",\n        \"recipientKeyHash\": \"NIcJiC7QCVgbQQ==\",\n        \"recipientTimestamp\": \"1718306911\"\n      },\n      \"deviceListMetadataVersion\": 2\n    }\n  },\n  \"contextInfo\": {\n    \"expiration\": 0,\n    \"ephemeralSettingTimestamp\": \"0\",\n    \"disappearingMode\": {\n      \"initiator\": \"CHANGED_IN_CHAT\"\n    }\n  },\n  \"messageType\": \"extendedTextMessage\",\n  \"messageTimestamp\": 1718317624,\n  \"instanceId\": \"329c1fbd-58a9-4412-bfdd-81d639aa491a\",\n  \"source\": \"desktop\"\n}\n}}"},{"name":"mentionsEveryOne","value":"={{ false }}"},{"name":"mentioned","value":"={{ [$('Variables').item.json.whatsappDestino] }}"}]},"options":{}},"id":"27ed4a41-2987-4d48-b236-179f6510d0b7","name":"Send Poll","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,960]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendList/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"title","value":"El título de la lista"},{"name":"description","value":"La descripción de la lista"},{"name":"buttonText","value":"El texto del botón"},{"name":"footerText","value":"El texto del footer"},{"name":"sections","value":"={{ [\n        {\n            \"title\": \"Row tilte 01\",\n            \"rows\": [\n                {\n                    \"title\": \"Title row 01\",\n                    \"description\": \"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,\",\n                    \"rowId\": \"rowId 001\"\n                },\n                {\n                    \"title\": \"Title row 02\",\n                    \"description\": \"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,\",\n                    \"rowId\": \"rowId 002\"\n                }\n            ]\n        },\n        {\n            \"title\": \"Row tilte 02\",\n            \"rows\": [\n                {\n                    \"title\": \"Title row 01\",\n                    \"description\": \"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,\",\n                    \"rowId\": \"rowId 001\"\n                },\n                {\n                    \"title\": \"Title row 02\",\n                    \"description\": \"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,\",\n                    \"rowId\": \"rowId 002\"\n                }\n            ]\n        }\n    ] }}"},{"name":"delay","value":"={{ 1000 }}"},{"name":"quoted","value":"={{ \n{\n  \"key\": {\n    \"remoteJid\": \"56982574761@s.whatsapp.net\",\n    \"fromMe\": false,\n    \"id\": \"7976EF7AF7DCB6E65D\"\n  },\n  \"pushName\": \"Ben\",\n  \"message\": {\n    \"extendedTextMessage\": {\n      \"text\": \"hhhhhh\",\n      \"contextInfo\": {\n        \"expiration\": 0,\n        \"ephemeralSettingTimestamp\": \"0\",\n        \"disappearingMode\": {\n          \"initiator\": \"CHANGED_IN_CHAT\"\n        }\n      }\n    },\n    \"messageContextInfo\": {\n      \"deviceListMetadata\": {\n        \"senderKeyHash\": \"WGJHyqZ2DhDNmA==\",\n        \"senderTimestamp\": \"1717854557\",\n        \"recipientKeyHash\": \"NIcJiC7QCVgbQQ==\",\n        \"recipientTimestamp\": \"1718306911\"\n      },\n      \"deviceListMetadataVersion\": 2\n    }\n  },\n  \"contextInfo\": {\n    \"expiration\": 0,\n    \"ephemeralSettingTimestamp\": \"0\",\n    \"disappearingMode\": {\n      \"initiator\": \"CHANGED_IN_CHAT\"\n    }\n  },\n  \"messageType\": \"extendedTextMessage\",\n  \"messageTimestamp\": 1718317624,\n  \"instanceId\": \"329c1fbd-58a9-4412-bfdd-81d639aa491a\",\n  \"source\": \"desktop\"\n}\n}}"},{"name":"mentionsEveryOne","value":"={{ false }}"},{"name":"mentioned","value":"={{ [$('Variables').item.json.whatsappDestino] }}"}]},"options":{}},"id":"31e74151-f5b3-4501-ba8a-4a5b0643ac83","name":"Send List","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,1140]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Variables","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Send Template","type":"main","index":0},{"node":"Send Text","type":"main","index":0},{"node":"Send Media","type":"main","index":0},{"node":"Send Narrated Audio","type":"main","index":0},{"node":"Send Status/Stories","type":"main","index":0},{"node":"Send Sticker","type":"main","index":0},{"node":"Send Location","type":"main","index":0},{"node":"Send Contact","type":"main","index":0},{"node":"Send Reaction","type":"main","index":0},{"node":"Send Poll","type":"main","index":0},{"node":"Send List","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bace71c3-7f05-4a1b-8938-ee3dcaf6e8bb","triggerCount":0,"tags":[]}