Workflows/my-workflow-KFDqEx8p97VEE0WH.json
{"createdAt":"2025-01-27T11:27:20.178Z","updatedAt":"2025-01-27T14:35:18.000Z","id":"KFDqEx8p97VEE0WH","name":"My workflow","active":false,"nodes":[{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[840,340],"id":"1e3a7335-a0e5-4938-b6cf-686b98981636","name":"Loop Over Items"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1000,540],"id":"1d13ca14-a4ac-4650-a412-23c5441291fc","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"3rI1ba1dyQUjkGgM","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[1180,700],"id":"e9d981a1-587c-4871-a285-54c7d2e76d83","name":"Token Splitter"},{"parameters":{"mode":"insert","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[1100,340],"id":"1f2c2a2c-8048-4d6a-a0d9-ca45604511f6","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"SFOs3b6vNkZl0jhM","name":"Postgres_vector_db"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json['Descripcion_español'] }}","options":{"metadata":{"metadataValues":[{"name":"Document_ID","value":"={{ $('Descarga_archivo1').item.json.id }}"},{"name":"genero","value":"={{ $('Extracción_datos_csv1').item.json.Genero }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1240,540],"id":"a58f8ef3-812f-4722-887f-638cdeb7f60a","name":"Mapeado_datos"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1GceEUPgGmwoKM_uTx12jJyaBiyHwk5Cn","mode":"list","cachedResultName":"BD_Vectores","cachedResultUrl":"https://drive.google.com/drive/folders/1GceEUPgGmwoKM_uTx12jJyaBiyHwk5Cn"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,700],"id":"3323e691-82dd-4635-8ab0-f02af069e84b","name":"File_updated","credentials":{"googleDriveOAuth2Api":{"id":"yW9f799vnl2ehurr","name":"Google_API"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_vectors","mode":"list","cachedResultName":"n8n_vectors"},"deleteCommand":"delete","where":{"values":[{"column":"metadata","value":"={\"loc\": {\"lines\": {\"to\": 1, \"from\": 1}}, \"source\": \"blob\", \"blobType\": \"text/plain\", \"Document_ID\": \"{{ $json.id }}\"}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[280,700],"id":"7a26d678-4142-41c7-a2ad-108b7beb76b2","name":"Borrado_BD","credentials":{"postgres":{"id":"SFOs3b6vNkZl0jhM","name":"Postgres_vector_db"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[280,340],"id":"589e78f1-8ca8-429c-836e-1039e1c0ee89","name":"Descarga_archivo1","credentials":{"googleDriveOAuth2Api":{"id":"yW9f799vnl2ehurr","name":"Google_API"}}},{"parameters":{"binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[580,340],"id":"8b8de1b9-4ffe-481b-8e2c-6f03ddfb0cf8","name":"Extracción_datos_csv1"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1GceEUPgGmwoKM_uTx12jJyaBiyHwk5Cn","mode":"list","cachedResultName":"BD_Vectores","cachedResultUrl":"https://drive.google.com/drive/folders/1GceEUPgGmwoKM_uTx12jJyaBiyHwk5Cn"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,340],"id":"92955cec-b061-4235-b666-bfe3842a1556","name":"File_actualizado1","credentials":{"googleDriveOAuth2Api":{"id":"yW9f799vnl2ehurr","name":"Google_API"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1540,340],"id":"878631e1-13ef-4755-85ef-2d931f740f2a","name":"Wait","webhookId":"edac0e14-d976-440a-868f-efdb4ba6bafa"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Mapeado_datos","type":"ai_textSplitter","index":0}]]},"Mapeado_datos":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"File_updated":{"main":[[{"node":"Borrado_BD","type":"main","index":0}]]},"Descarga_archivo1":{"main":[[{"node":"Extracción_datos_csv1","type":"main","index":0}]]},"Extracción_datos_csv1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"File_actualizado1":{"main":[[{"node":"Descarga_archivo1","type":"main","index":0}]]},"Postgres PGVector Store":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"File_actualizado1":[{"json":{"kind":"drive#file","copyRequiresWriterPermission":false,"writersCanShare":true,"viewedByMe":true,"mimeType":"application/vnd.google-apps.spreadsheet","exportLinks":{"application/x-vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk&exportFormat=ods","text/tab-separated-values":"https://docs.google.com/spreadsheets/export?id=1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk&exportFormat=tsv","application/pdf":"https://docs.google.com/spreadsheets/export?id=1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk&exportFormat=pdf","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":"https://docs.google.com/spreadsheets/export?id=1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk&exportFormat=xlsx","text/csv":"https://docs.google.com/spreadsheets/export?id=1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk&exportFormat=csv","application/zip":"https://docs.google.com/spreadsheets/export?id=1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk&exportFormat=zip","application/vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk&exportFormat=ods"},"parents":["1GceEUPgGmwoKM_uTx12jJyaBiyHwk5Cn"],"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBNVf5r3tfn-80lVvTP6YX-i4ukdscySe626cWMPDvyc65Mx-FKmO4K6pCBE8w_ABmSXAa-HjHPvufCJpf0Okq3aXQlF3WWBXsuibEyEnO4llfSj9_1uOKiABcimZA=s220","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet","shared":false,"lastModifyingUser":{"displayName":"Juan Mari","kind":"drive#user","me":true,"permissionId":"08916116416635627471","emailAddress":"jmcaravajal@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLYjIC7jYut1tlELNUPVEwXge6u6Y6-vFwG4LYqLNHpCC-wWQ=s64"},"owners":[{"displayName":"Juan Mari","kind":"drive#user","me":true,"permissionId":"08916116416635627471","emailAddress":"jmcaravajal@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLYjIC7jYut1tlELNUPVEwXge6u6Y6-vFwG4LYqLNHpCC-wWQ=s64"}],"webViewLink":"https://docs.google.com/spreadsheets/d/1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk/edit?usp=drivesdk","size":"156357","viewersCanCopyContent":true,"permissions":[{"id":"08916116416635627471","displayName":"Juan Mari","type":"user","kind":"drive#permission","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLYjIC7jYut1tlELNUPVEwXge6u6Y6-vFwG4LYqLNHpCC-wWQ=s64","emailAddress":"jmcaravajal@gmail.com","role":"owner","deleted":false,"pendingOwner":false}],"hasThumbnail":true,"spaces":["drive"],"id":"1RA7p-MaQy56Noy2DhVkzwmx4WvhaSu8JzI1dTKMAsTk","name":"IMDB_TOP_1000_spanish","starred":false,"trashed":false,"explicitlyTrashed":false,"createdTime":"2025-01-27T09:31:35.279Z","modifiedTime":"2025-01-27T09:52:35.057Z","modifiedByMeTime":"2025-01-27T09:52:35.057Z","viewedByMeTime":"2025-01-27T09:52:35.057Z","quotaBytesUsed":"156357","version":"15","ownedByMe":true,"isAppAuthorized":false,"capabilities":{"canChangeViewersCanCopyContent":true,"canEdit":true,"canCopy":true,"canComment":true,"canAddChildren":false,"canDelete":true,"canDownload":true,"canListChildren":false,"canRemoveChildren":false,"canRename":true,"canTrash":true,"canReadRevisions":true,"canChangeCopyRequiresWriterPermission":true,"canMoveItemIntoTeamDrive":true,"canUntrash":true,"canModifyContent":true,"canMoveItemOutOfDrive":true,"canAddMyDriveParent":false,"canRemoveMyDriveParent":true,"canMoveItemWithinDrive":true,"canShare":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canChangeSecurityUpdateEnabled":false,"canAcceptOwnership":false,"canReadLabels":false,"canModifyLabels":false,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canRemoveContentRestriction":false},"thumbnailVersion":"6","modifiedByMe":true,"permissionIds":["08916116416635627471"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true}}}]},"versionId":"1d4a1c60-77b1-4d5d-9fad-e2201fee7894","triggerCount":0,"tags":[]}