Workflows/recepción_pedidos_evolutionapi-QW76Ia3XKYiOgQGK.json
{"createdAt":"2025-01-14T11:41:30.389Z","updatedAt":"2025-01-14T17:14:49.000Z","id":"QW76Ia3XKYiOgQGK","name":"Recepción_Pedidos_EvolutionAPI","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"f154b5a4-1342-47d2-b73b-197a8ea34f58","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-240,0],"id":"bdd5c3f2-5d7f-407c-af8a-a9b192e10657","name":"Webhook","webhookId":"f154b5a4-1342-47d2-b73b-197a8ea34f58"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f7d57a6-dc14-4a7d-bd1a-5bc75434df3c","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[140,0],"id":"b5889157-44db-40a3-b844-e80dcece9763","name":"Switch"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"6e2bc67c-d53f-4062-9b61-b406ae68f18d","name":"Transcribe audio a texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,160],"credentials":{"openAiApi":{"id":"3rI1ba1dyQUjkGgM","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"eac8864e-2f64-4a8b-96c3-12ecfa969c82","name":"mensaje","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"6d9f0dc8-9ca9-4f89-bb12-e4f8413cf214","name":"Audio","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1160,160]},{"parameters":{"method":"POST","url":"=https://evolution-evolution.uiarru.easypanel.host/evolutionBot/changeStatus/Valen","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=AQUI TU API KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"remoteJid\": \"{{ $json.key.remoteJid }}\",\n    \"status\": \"closed\"\n}","options":{}},"id":"8959367f-77ab-48b9-9172-4fc0bf6763d1","name":"cerrar sesion","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3180,-40]},{"parameters":{"method":"POST","url":"=https://evolution-evolution.uiarru.easypanel.host/message/sendText/Valen","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=AQUI TU API KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook').item.json.body.user }}\",\n    \"text\": \"{{ $json.output }}\"\n}","options":{}},"id":"12d7ea3f-268f-437e-a3a6-db25d192bd3c","name":"Enviar texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3020,-40]},{"parameters":{"assignments":{"assignments":[{"id":"b7606c47-08f7-4fee-b457-2f619e620cc5","name":"base64","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"fd2ec260-bdf7-49f8-978c-335072a4f6e6","name":"phoneNumber","value":"={{ $('Switch').item.json.phoneNumber }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,160],"id":"6ad90e2f-f177-487f-990c-5a5999224541","name":"Edit Fields1"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio.mp3","mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[740,160],"id":"dfc701a8-a10a-4a68-bcbd-a5acf4593f9d","name":"Convert to File"},{"parameters":{"url":"={{ $('Webhook').item.json.body.data.message.audioMessage.url }}","options":{"allowUnauthorizedCerts":true,"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,160],"id":"b0a3a08e-9946-4727-993a-f142b26c0dba","name":"Descarga_audio"},{"parameters":{"assignments":{"assignments":[{"id":"7944e331-d537-452c-a233-cec07ab1b214","name":"mensaje","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,-20],"id":"55ff34c2-50d6-485f-8e51-68ee15beecfc","name":"Texto"},{"parameters":{"assignments":{"assignments":[{"id":"7cd81e08-fa54-4b12-afbd-3e3165979182","name":"phoneNumber","value":"={{ $('Extrae_telefono').item.json.phoneNumber }}","type":"string"},{"id":"8beb3a65-2068-4585-a681-24c96bd3fc9b","name":"chat_id","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"},{"id":"f9cdcee8-3d52-424e-87b7-33ee0bf2ddd4","name":"Nom_usuario","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"bd1e3975-043a-4939-923d-6aab89a5d611","name":"mensaje","value":"={{ $json.mensaje }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,-20],"id":"d4f6ff50-2fb1-4014-b612-b7858cc08323","name":"Envío datos"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const inputData = $json;\n\n\nif (inputData.body && inputData.body.data && inputData.body.data.key && inputData.body.data.key.remoteJid) {\n \n  const remoteJid = inputData.body.data.key.remoteJid;\n  \n  const phoneNumber = remoteJid.split('@')[0];\n\n  return {\n    json: {\n      phoneNumber: phoneNumber\n    }\n  };\n} else {\n  throw new Error('El campo esperado no se encuentra en la entrada JSON');\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-40,0],"id":"9f429981-2d3f-44b5-9230-f959a553acc4","name":"Extrae_telefono"},{"parameters":{"jsCode":"return [{\n    json: {\n        output: $json.output\n            .replace(/\\n+/g, '\\\\n')  // Convierte saltos de línea en \\n escapados\n            .replace(/\\\\n\\s+/g, '\\\\n')  // Elimina espacios extra después de cada \\n\n            .replace(/\\s+\\\\n/g, '\\\\n')  // Elimina espacios extra antes de cada \\n\n            .replace(/\\\\n\\\\n/g, '\\\\n')  // Reduce múltiples \\n consecutivos a uno solo\n            .trim()\n    }\n}];"},"id":"02e81712-dc7a-4a51-907c-7cfd79937858","name":"Eliminia_Espacios","type":"n8n-nodes-base.code","typeVersion":2,"position":[2860,-40]},{"parameters":{"operation":"push","list":"={{ $json.Chat_ID }}","messageData":"={{ $json.Mensaje }}","tail":true},"id":"54a18766-c71e-4499-aa06-bf5bc51103d3","name":"Guardar_Mensaje","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1580,-20]},{"parameters":{},"id":"d16133cd-3865-40d5-94ac-d5a3efa4c930","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1760,-20],"webhookId":"530f46db-4168-4b3f-985a-5fd6c00f2b0c"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83ef3299-b253-4f82-a698-d34e750bb2a0","leftValue":"={{ $json.Mensajes.last() }}","rightValue":"={{ $('Envio_Datos').item.json.Mensaje }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"be6d7501-d45e-4fff-bf77-5ada40ec50c5","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2120,-20]},{"parameters":{"operation":"get","propertyName":"Mensajes","key":"={{ $json.Chat_ID }}","options":{}},"id":"5df385f2-500f-4e5a-85ef-22060725fbca","name":"Recuperar_Mensaje","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1940,-20]},{"parameters":{},"id":"b7e9e943-2cf4-4268-bf61-f773eaa08ec5","name":"No_hacer_nada","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2300,240]},{"parameters":{"assignments":{"assignments":[{"id":"0f85cb22-2331-4311-b701-99570fa75631","name":"Mensaje","value":"={{ $json.Mensajes.join('\\n') }}","type":"string"},{"id":"2722a936-b7c3-436d-bdbc-6f904900bc76","name":"Chat_ID","value":"={{ $('Wait').item.json.Chat_ID }}","type":"string"}]},"options":{}},"id":"a898805a-ca33-41df-93be-468acb14a9d4","name":"Juntar_Mensajes","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2320,-40]}],"connections":{"Webhook":{"main":[[{"node":"Extrae_telefono","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Texto","type":"main","index":0}],[{"node":"Descarga_audio","type":"main","index":0}]]},"Transcribe audio a texto":{"main":[[{"node":"Audio","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"cerrar sesion","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe audio a texto","type":"main","index":0}]]},"Descarga_audio":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Audio":{"main":[[{"node":"Envío datos","type":"main","index":0}]]},"Texto":{"main":[[{"node":"Envío datos","type":"main","index":0}]]},"Extrae_telefono":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Eliminia_Espacios":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Guardar_Mensaje":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Recuperar_Mensaje","type":"main","index":0}]]},"If":{"main":[[{"node":"Juntar_Mensajes","type":"main","index":0}],[{"node":"No_hacer_nada","type":"main","index":0}]]},"Recuperar_Mensaje":{"main":[[{"node":"If","type":"main","index":0}]]},"Envío datos":{"main":[[{"node":"Guardar_Mensaje","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9ca48f57-d513-4a7c-9494-08dc48c03982","triggerCount":0,"tags":[]}