Workflows/recepción_pedidos_evolutionapi_v1-QW76Ia3XKYiOgQGK.json
{"createdAt":"2025-01-14T11:41:30.389Z","updatedAt":"2025-01-15T21:36:33.000Z","id":"QW76Ia3XKYiOgQGK","name":"Recepción_Pedidos_EvolutionAPI_v1","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"f154b5a4-1342-47d2-b73b-197a8ea34f58","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-700,0],"id":"bdd5c3f2-5d7f-407c-af8a-a9b192e10657","name":"Webhook","webhookId":"f154b5a4-1342-47d2-b73b-197a8ea34f58"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f7d57a6-dc14-4a7d-bd1a-5bc75434df3c","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[140,0],"id":"b5889157-44db-40a3-b844-e80dcece9763","name":"Switch"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"6e2bc67c-d53f-4062-9b61-b406ae68f18d","name":"Transcribe audio a texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,160],"credentials":{"openAiApi":{"id":"3rI1ba1dyQUjkGgM","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"eac8864e-2f64-4a8b-96c3-12ecfa969c82","name":"mensaje","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"6d9f0dc8-9ca9-4f89-bb12-e4f8413cf214","name":"Audio","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1160,160]},{"parameters":{"assignments":{"assignments":[{"id":"b7606c47-08f7-4fee-b457-2f619e620cc5","name":"base64","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"fd2ec260-bdf7-49f8-978c-335072a4f6e6","name":"phoneNumber","value":"={{ $('Switch').item.json.phoneNumber }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,160],"id":"6ad90e2f-f177-487f-990c-5a5999224541","name":"Edit Fields1"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio.mp3","mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[740,160],"id":"dfc701a8-a10a-4a68-bcbd-a5acf4593f9d","name":"Convert to File"},{"parameters":{"url":"={{ $('Webhook').item.json.body.data.message.audioMessage.url }}","options":{"allowUnauthorizedCerts":true,"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,160],"id":"b0a3a08e-9946-4727-993a-f142b26c0dba","name":"Descarga_audio"},{"parameters":{"assignments":{"assignments":[{"id":"7944e331-d537-452c-a233-cec07ab1b214","name":"mensaje","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,-20],"id":"55ff34c2-50d6-485f-8e51-68ee15beecfc","name":"Texto"},{"parameters":{"assignments":{"assignments":[{"id":"7cd81e08-fa54-4b12-afbd-3e3165979182","name":"phoneNumber","value":"={{ $('Extrae_telefono').item.json.phoneNumber }}","type":"string"},{"id":"f9cdcee8-3d52-424e-87b7-33ee0bf2ddd4","name":"Nom_usuario","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"bd1e3975-043a-4939-923d-6aab89a5d611","name":"mensaje","value":"={{ $json.mensaje }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,-20],"id":"d4f6ff50-2fb1-4014-b612-b7858cc08323","name":"Envío datos"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const inputData = $json;\n\n\nif (inputData.body && inputData.body.data && inputData.body.data.key && inputData.body.data.key.remoteJid) {\n \n  const remoteJid = inputData.body.data.key.remoteJid;\n  \n  const phoneNumber = remoteJid.split('@')[0];\n\n  return {\n    json: {\n      phoneNumber: phoneNumber\n    }\n  };\n} else {\n  throw new Error('El campo esperado no se encuentra en la entrada JSON');\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-460,0],"id":"9f429981-2d3f-44b5-9230-f959a553acc4","name":"Extrae_telefono"},{"parameters":{"operation":"push","list":"={{ $json.phoneNumber }}","messageData":"={{ $json.mensaje }}","tail":true},"id":"54a18766-c71e-4499-aa06-bf5bc51103d3","name":"Guardar_Mensaje","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1580,-20],"credentials":{"redis":{"id":"pnz3euZasIU1unCz","name":"Redis account"}}},{"parameters":{},"id":"d16133cd-3865-40d5-94ac-d5a3efa4c930","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1760,-20],"webhookId":"530f46db-4168-4b3f-985a-5fd6c00f2b0c"},{"parameters":{"assignments":{"assignments":[{"id":"646ed3c8-45d5-4a77-8cea-71e2f6dd7ce7","name":"Nom_usuario","value":"={{ $('Envío datos').item.json.Nom_usuario }}","type":"string"},{"id":"0f85cb22-2331-4311-b701-99570fa75631","name":"Mensaje","value":"={{ $json.mensajes }}","type":"array"}]},"options":{}},"id":"a898805a-ca33-41df-93be-468acb14a9d4","name":"Juntar_Mensajes","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2360,-40]},{"parameters":{"operation":"get","propertyName":"mensajes","key":"={{ $('Envío datos').item.json.phoneNumber }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1920,-20],"id":"84974718-3d21-4a9f-93ff-5c711faddc5a","name":"Redis","credentials":{"redis":{"id":"pnz3euZasIU1unCz","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Wait').item.json.phoneNumber }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2580,-40],"id":"e52ac107-08c3-4061-a555-159e2833289b","name":"Redis1","credentials":{"redis":{"id":"pnz3euZasIU1unCz","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2340,240],"id":"00b6e3f4-9c5e-42a8-923f-437cf7e24e97","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dd6b2aa8-e2c9-4be4-a03b-1b48ee3d9e73","leftValue":"={{ $json.mensajes.last() }}","rightValue":"={{ $('Envío datos').item.json.mensaje }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2140,-20],"id":"6f0426fd-188f-4e0a-8d13-9a62ecd072e2","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"93f57008-99b7-4d9b-b67d-62b4cd2f5c23","name":"urlEvolutionApi","value":"https://evolution-evolution.w1mcss.easypanel.host/","type":"string"},{"id":"cfddaf1d-b4c0-4429-983c-176d536da3e1","name":"apikeyGlobal","value":"6F6o42v0sVDxbOw8AYDPIOG2Bwh3Po4x","type":"string"},{"id":"07662f9e-5992-4ee7-b0c6-1dae4924bb1a","name":"whatsappDestino","value":"={{ $json.phoneNumber }}","type":"string"},{"id":"5e02bdd7-b30a-443b-8aad-27c73bb9627a","name":"nombreInstancia","value":"Elle","type":"string"}]},"options":{}},"id":"094aeaf4-79e6-42e3-a4fd-52e54a1dce71","name":"Variables","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-260,-200]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendText/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"text","value":"ok"},{"name":"delay","value":"={{ 1000 }}"},{"name":"linkPreview","value":"={{ true }}"},{"name":"mentionsEveryOne","value":"={{ true }}"}]},"options":{}},"id":"9b4ad9c2-03d9-4f57-9c23-fff2f99f7c83","name":"Send Text","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-40,-200]}],"connections":{"Webhook":{"main":[[{"node":"Extrae_telefono","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Texto","type":"main","index":0}],[{"node":"Descarga_audio","type":"main","index":0}]]},"Transcribe audio a texto":{"main":[[{"node":"Audio","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe audio a texto","type":"main","index":0}]]},"Descarga_audio":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Audio":{"main":[[{"node":"Envío datos","type":"main","index":0}]]},"Texto":{"main":[[{"node":"Envío datos","type":"main","index":0}]]},"Extrae_telefono":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Guardar_Mensaje":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Envío datos":{"main":[[{"node":"Guardar_Mensaje","type":"main","index":0}]]},"Redis":{"main":[[{"node":"If","type":"main","index":0}]]},"Juntar_Mensajes":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis1":{"main":[[]]},"If":{"main":[[{"node":"Juntar_Mensajes","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Send Text","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f66041c9-5b5a-4251-9b8a-b891466318c0","triggerCount":1,"tags":[]}