Workflows/Recepción_pedidos_telegram.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto": {
      "main": [
        [
          {
            "node": "Envio_Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descarga_audio": {
      "main": [
        [
          {
            "node": "Transcribe audio a texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio a texto": {
      "main": [
        [
          {
            "node": "Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio": {
      "main": [
        [
          {
            "node": "Envio_Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio_Datos": {
      "main": [
        [
          {
            "node": "Guardar_Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descarga_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar_Mensaje": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Recuperar_Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperar_Mensaje": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Juntar_Mensajes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No_hacer_nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Juntar_Mensajes": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-08T01:15:55.005Z",
  "id": "I5olfWHQl0dJimSO",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Recepción_pedidos_telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "4381a68c-b37a-40da-a237-987d966f0902",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        280,
        500
      ],
      "webhookId": "8ec692eb-538d-45e5-90e0-5265a88076e4",
      "credentials": {
        "telegramApi": {
          "id": "sH1aHidvwBlMcWD0",
          "name": "Credenciales_Telegram"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc1a1dba-16f3-40ee-b497-c550dd332751",
              "name": "mensaje",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8de1ae01-1581-4f91-88de-4b91febfed02",
      "name": "Texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        360
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "0f8585a8-7883-4368-ac10-baa3cc621f78",
      "name": "Descarga_audio",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        700,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "sH1aHidvwBlMcWD0",
          "name": "Credenciales_Telegram"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "b932222f-6e0f-4bc9-aa63-92137538bf32",
      "name": "Transcribe audio a texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        600
      ],
      "credentials": {
        "openAiApi": {
          "id": "YkmqUDix3HnFZRAZ",
          "name": "Credenciales_OpenAi"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eac8864e-2f64-4a8b-96c3-12ecfa969c82",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b0ab1e27-1774-4c4f-bd4b-bc0e36c754e5",
      "name": "Audio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc1a1dba-16f3-40ee-b497-c550dd332751",
              "name": "Chat_ID",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "5c4ff116-f7a4-47b1-98fa-dc464a9c8077",
              "name": "Nombre",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "6d2cd125-3e58-402b-a529-9698545c2636",
              "name": "Mensaje",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "72f17c34-7754-487c-bd65-0875503abf03",
      "name": "Envio_Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        500
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b0f40a04-d52f-4f45-a8f4-3e96be562705",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2500,
        680
      ],
      "credentials": {
        "openAiApi": {
          "id": "YkmqUDix3HnFZRAZ",
          "name": "Credenciales_OpenAi"
        }
      }
    },
    {
      "parameters": {},
      "id": "0e8cdbef-98b6-4fc1-b659-d32cdf385ed3",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2740,
        680
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "ca1e3357-6ef0-4e70-9890-06c3fb467057",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2900,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "sH1aHidvwBlMcWD0",
          "name": "Credenciales_Telegram"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d82cf6cc-d916-4c68-8606-ac497bfcb60f",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "id": "66658fac-81ba-4544-8e93-34725904be5a",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        460,
        500
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.Chat_ID }}",
        "messageData": "={{ $json.Mensaje }}",
        "tail": true
      },
      "id": "48e5d8b0-c0cc-4c62-822b-a19afe664389",
      "name": "Guardar_Mensaje",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1500,
        500
      ],
      "credentials": {
        "redis": {
          "id": "KGRr3Q9SmCTBVuou",
          "name": "Credenciales_Redis"
        }
      }
    },
    {
      "parameters": {},
      "id": "fe448ceb-a6fa-4971-8332-a1323df71148",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        500
      ],
      "webhookId": "b341527b-1aac-4433-8238-423d12b05630"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "83ef3299-b253-4f82-a698-d34e750bb2a0",
              "leftValue": "={{ $json.Mensajes.last() }}",
              "rightValue": "={{ $('Envio_Datos').item.json.Mensaje }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4e463038-9a01-4b57-8027-e575f893188b",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2060,
        500
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Mensajes",
        "key": "={{ $json.Chat_ID }}",
        "options": {}
      },
      "id": "9b0a8409-1266-462e-8d08-286cc1a0dc2a",
      "name": "Recuperar_Mensaje",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1860,
        500
      ],
      "credentials": {
        "redis": {
          "id": "KGRr3Q9SmCTBVuou",
          "name": "Credenciales_Redis"
        }
      }
    },
    {
      "parameters": {},
      "id": "e90fa06d-6e67-4405-8b61-76608a307cff",
      "name": "No_hacer_nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2260,
        720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f85cb22-2331-4311-b701-99570fa75631",
              "name": "Mensaje",
              "value": "={{ $json.Mensajes.join('\\n') }}",
              "type": "string"
            },
            {
              "id": "2722a936-b7c3-436d-bdbc-6f904900bc76",
              "name": "Chat_ID",
              "value": "={{ $('Wait').item.json.Chat_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d104ceb8-f667-4e7b-8ee2-fdc908ebf7e7",
      "name": "Juntar_Mensajes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2260,
        480
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "{{ $json.Chat_ID }}"
      },
      "id": "8a707a70-1238-4e70-9500-a2afef29c415",
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3120,
        480
      ],
      "credentials": {
        "redis": {
          "id": "KGRr3Q9SmCTBVuou",
          "name": "Credenciales_Redis"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "id": "43e80889-f87e-420e-abb6-6e8c7d910ac3",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2620,
        680
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Mensaje }}",
        "options": {
          "systemMessage": "Eres una amigable agente llamado Elle."
        }
      },
      "id": "d95a0d84-89a0-4813-8693-66551400a18d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2500,
        480
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-01-08T14:28:27.000Z",
  "versionId": "a92c90c0-56db-4b58-aef2-de8ac12f65a4"
}