Workflows/recepción_pedidos_evolutionapi_v3-DsB91F4VRIcfaJdr.json
{"createdAt":"2025-01-16T16:04:33.594Z","updatedAt":"2025-01-16T16:34:48.000Z","id":"DsB91F4VRIcfaJdr","name":"Recepción_Pedidos_EvolutionAPI_v3","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"9370a668-8a51-4644-a553-6110417e80a3","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1780,60],"id":"bd8cdbc7-921b-466e-84ae-7d0766768a06","name":"Webhook","webhookId":"9370a668-8a51-4644-a553-6110417e80a3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f7d57a6-dc14-4a7d-bd1a-5bc75434df3c","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-880,60],"id":"9f4ee478-a632-4477-9d86-bd408d07d4ed","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"7944e331-d537-452c-a233-cec07ab1b214","name":"mensaje","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,40],"id":"ccc83c4d-7ed7-468f-8f19-d92cba62c033","name":"Texto"},{"parameters":{"assignments":{"assignments":[{"id":"7cd81e08-fa54-4b12-afbd-3e3165979182","name":"phoneNumber","value":"={{ $('Extrae_Telefono').item.json.telefono }}","type":"string"},{"id":"f9cdcee8-3d52-424e-87b7-33ee0bf2ddd4","name":"Nom_usuario","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"bd1e3975-043a-4939-923d-6aab89a5d611","name":"mensaje","value":"={{ $json.mensaje }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,40],"id":"5967607a-78b5-412b-8008-22b8583b7b51","name":"Envío datos"},{"parameters":{"operation":"push","list":"={{ $json.phoneNumber }}","messageData":"={{ $json.mensaje }}","tail":true},"id":"38646b82-a281-443b-b506-160849dfa44d","name":"Guardar_Mensaje","type":"n8n-nodes-base.redis","typeVersion":1,"position":[620,40],"credentials":{"redis":{"id":"pnz3euZasIU1unCz","name":"Redis account"}}},{"parameters":{},"id":"f721ef1b-01e0-41af-81d2-cda4833616d8","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[800,40],"webhookId":"8b6fc301-baf3-4581-856d-53cfe7c49ced"},{"parameters":{"operation":"get","propertyName":"mensajes","key":"={{ $('Envío datos').item.json.phoneNumber }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[980,40],"id":"ae77112f-8257-4f71-b75f-08e6658c6e34","name":"Redis","credentials":{"redis":{"id":"pnz3euZasIU1unCz","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dd6b2aa8-e2c9-4be4-a03b-1b48ee3d9e73","leftValue":"={{ $json.mensajes.last() }}","rightValue":"={{ $('Envío datos').item.json.mensaje }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1160,40],"id":"2d1791ae-0076-42b9-83ce-f3efdf8e0e85","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"646ed3c8-45d5-4a77-8cea-71e2f6dd7ce7","name":"Nom_usuario","value":"={{ $('Envío datos').item.json.Nom_usuario }}","type":"string"},{"id":"0f85cb22-2331-4311-b701-99570fa75631","name":"Mensaje","value":"={{ $json.mensajes.join() }}","type":"array"}]},"options":{"ignoreConversionErrors":true}},"id":"db1a0042-a3c8-4051-9f5a-9aa32872e60e","name":"Juntar_Mensajes","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,20]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1180,340],"id":"41fe4317-613e-4426-872e-c4bd42e162f7","name":"No Operation, do nothing"},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi }}/evolutionBot/changeStatus/{{ $('Variables').item.json.nombreInstancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"remoteJid\": \"{{ $json.remoteJid }}\",\n    \"status\": \"closed\"\n}","options":{}},"id":"c073f314-7bad-4066-81e6-2b861b609296","name":"cerrar sesion","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1080,400]},{"parameters":{"assignments":{"assignments":[{"id":"93f57008-99b7-4d9b-b67d-62b4cd2f5c23","name":"urlEvolutionApi","value":"https://evolutionapi-evolution.w1mcss.easypanel.host/","type":"string"},{"id":"cfddaf1d-b4c0-4429-983c-176d536da3e1","name":"apikeyGlobal","value":"An2u&xLhyfefGbU2PoP7HvvVCS$QAnfV","type":"string"},{"id":"07662f9e-5992-4ee7-b0c6-1dae4924bb1a","name":"whatsappDestino","value":"={{ $json.telefono }}","type":"string"},{"id":"5e02bdd7-b30a-443b-8aad-27c73bb9627a","name":"nombreInstancia","value":"Elle","type":"string"},{"id":"5d0ee14e-b957-481a-9e10-f0b801efb75a","name":"remoteJid","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"id":"0fc00e0f-7c2a-448b-8350-154970963b1f","name":"Variables","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1240,60]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendText/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"text","value":"={{ $json.output }}"},{"name":"delay","value":"={{ 1000 }}"},{"name":"linkPreview","value":"={{ true }}"},{"name":"mentionsEveryOne","value":"={{ true }}"}]},"options":{}},"id":"0e35e016-2a6c-4566-939a-1c0df8dc04fd","name":"Send Text","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,20]},{"parameters":{"assignments":{"assignments":[{"id":"9aab0071-a9b4-4ec7-9450-d30c494f4821","name":"remotejid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1600,60],"id":"b049ed3e-ce83-4e48-9abf-f5953e4200bf","name":"Identifica_Emisor"},{"parameters":{"assignments":{"assignments":[{"id":"9aab0071-a9b4-4ec7-9450-d30c494f4821","name":"telefono","value":"=     {{$json[\"remotejid\"].split('@')[0]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1440,60],"id":"bb2a44b7-203b-4373-90eb-e4c885202d2c","name":"Extrae_Telefono"},{"parameters":{"url":"={{ $('Webhook').item.json.body.data.message.audioMessage.url }}","options":{"allowUnauthorizedCerts":true,"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,340],"id":"31d73767-3660-4653-bad6-1dcfdffa6601","name":"Descarga_audio"},{"parameters":{"assignments":{"assignments":[{"id":"b7606c47-08f7-4fee-b457-2f619e620cc5","name":"base64","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"fd2ec260-bdf7-49f8-978c-335072a4f6e6","name":"phoneNumber","value":"={{ $('Switch').item.json.phoneNumber }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-440,340],"id":"15017f8c-c4c6-4bd8-a48d-34661044a97e","name":"Extrae_Base64"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio.mp3","mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-240,340],"id":"f6df288d-9fdd-4fb8-a65d-439847a5362c","name":"Crea_Audio"},{"parameters":{"assignments":{"assignments":[{"id":"eac8864e-2f64-4a8b-96c3-12ecfa969c82","name":"mensaje","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"4fbdc006-6a58-4fd3-a347-e62c7a62a98a","name":"Audio","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,340]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"e6f1f7c7-5445-45cf-909a-9ad4031f3ffe","name":"Transcribe_Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-60,340],"credentials":{"openAiApi":{"id":"3rI1ba1dyQUjkGgM","name":"OpenAi account"}}},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=nombre del usuario: {{ $json.Nom_usuario }}\n\nMensaje : {{ $json.Mensaje }}","options":{"systemMessage":"Eres un amigable asistente llamado Elle."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1640,20],"id":"3f56a62c-2976-48ef-b8fb-b7186991ca8b","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[1560,240],"id":"860e3e7d-3f62-4ee3-b48d-d3a5f4ea82da","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"3rI1ba1dyQUjkGgM","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Envío datos').item.json.phoneNumber }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1720,240],"id":"106beb01-b38a-4241-a41a-dd3a2a6b84e1","name":"Window Buffer Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[1860,240],"id":"1a7b528a-19f5-46b9-937e-1fe87a1925b2","name":"Wikipedia"},{"parameters":{"operation":"delete","key":"={{ $('Guardar_Mensaje').item.json.phoneNumber }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2220,20],"id":"6b645615-b89f-48a1-800e-054069fb79d7","name":"Redis1","credentials":{"redis":{"id":"pnz3euZasIU1unCz","name":"Redis account"}}}],"connections":{"Webhook":{"main":[[{"node":"Identifica_Emisor","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Texto","type":"main","index":0}],[{"node":"Descarga_audio","type":"main","index":0}]]},"Texto":{"main":[[{"node":"Envío datos","type":"main","index":0}]]},"Envío datos":{"main":[[{"node":"Guardar_Mensaje","type":"main","index":0}]]},"Guardar_Mensaje":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Juntar_Mensajes","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Juntar_Mensajes":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"cerrar sesion","type":"main","index":0}]]},"Send Text":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Identifica_Emisor":{"main":[[{"node":"Extrae_Telefono","type":"main","index":0}]]},"Extrae_Telefono":{"main":[[{"node":"Variables","type":"main","index":0}]]},"cerrar sesion":{"main":[[]]},"Descarga_audio":{"main":[[{"node":"Extrae_Base64","type":"main","index":0}]]},"Extrae_Base64":{"main":[[{"node":"Crea_Audio","type":"main","index":0}]]},"Crea_Audio":{"main":[[{"node":"Transcribe_Audio","type":"main","index":0}]]},"Transcribe_Audio":{"main":[[{"node":"Audio","type":"main","index":0}]]},"Audio":{"main":[[{"node":"Envío datos","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Send Text","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"61ff6257-b20e-4bbb-82bc-86463f5444f9","triggerCount":1,"tags":[]}