Workflows/recepción_pedidos_evolutionapi_v2-YoxaQ8rRVhKEWhjy.json
{"createdAt":"2025-01-15T19:25:32.200Z","updatedAt":"2025-01-15T21:47:49.000Z","id":"YoxaQ8rRVhKEWhjy","name":"Recepción_Pedidos_EvolutionAPI_v2","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"76a0304e-d7d0-464a-84d0-a6ce27694fe2","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1260,60],"id":"a6732394-83d1-4c6e-be64-d04c53f53a37","name":"Webhook","webhookId":"76a0304e-d7d0-464a-84d0-a6ce27694fe2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f7d57a6-dc14-4a7d-bd1a-5bc75434df3c","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-600,60],"id":"4f7c96f7-86f3-415f-a0d4-4776467bf0ae","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"7944e331-d537-452c-a233-cec07ab1b214","name":"mensaje","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-300,0],"id":"713b6b9d-d5e0-4e3b-a07a-66e01e93919e","name":"Texto"},{"parameters":{"assignments":{"assignments":[{"id":"7cd81e08-fa54-4b12-afbd-3e3165979182","name":"phoneNumber","value":"={{ $('Extrae_Telefono').item.json.telefono }}","type":"string"},{"id":"f9cdcee8-3d52-424e-87b7-33ee0bf2ddd4","name":"Nom_usuario","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"bd1e3975-043a-4939-923d-6aab89a5d611","name":"mensaje","value":"={{ $json.mensaje }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,0],"id":"b227c05e-4842-4f25-b93c-7e756aa7ad49","name":"Envío datos"},{"parameters":{"operation":"push","list":"={{ $json.phoneNumber }}","messageData":"={{ $json.mensaje }}","tail":true},"id":"4e610458-17b6-4eb5-bb9c-a36ec464fe3e","name":"Guardar_Mensaje","type":"n8n-nodes-base.redis","typeVersion":1,"position":[140,0],"credentials":{"redis":{"id":"pnz3euZasIU1unCz","name":"Redis account"}}},{"parameters":{},"id":"407dec24-a215-48aa-9547-2965a22f0d61","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[300,0],"webhookId":"530f46db-4168-4b3f-985a-5fd6c00f2b0c"},{"parameters":{"operation":"get","propertyName":"mensajes","key":"={{ $('Envío datos').item.json.phoneNumber }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[440,0],"id":"dbc51ddb-ad59-4e7a-83b6-94c07402eb73","name":"Redis","credentials":{"redis":{"id":"pnz3euZasIU1unCz","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dd6b2aa8-e2c9-4be4-a03b-1b48ee3d9e73","leftValue":"={{ $json.mensajes.last() }}","rightValue":"={{ $('Envío datos').item.json.mensaje }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[620,0],"id":"2cdee6eb-09e2-43cf-b718-b1c26edad621","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"646ed3c8-45d5-4a77-8cea-71e2f6dd7ce7","name":"Nom_usuario","value":"={{ $('Envío datos').item.json.Nom_usuario }}","type":"string"},{"id":"0f85cb22-2331-4311-b701-99570fa75631","name":"Mensaje","value":"={{ $json.mensajes.join() }}","type":"array"}]},"options":{"ignoreConversionErrors":true}},"id":"4845f51b-c353-4563-98f7-3e5f51a7f830","name":"Juntar_Mensajes","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,-20]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[620,340],"id":"eaad5dfc-9de4-4d43-813e-1eeb6473f685","name":"No Operation, do nothing"},{"parameters":{"operation":"delete","key":"={{ $('Wait').item.json.phoneNumber }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1080,-20],"id":"5c55667a-c474-4322-b248-53cbe7136801","name":"Redis1","credentials":{"redis":{"id":"pnz3euZasIU1unCz","name":"Redis account"}}},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi }}/evolutionBot/changeStatus/{{ $('Variables').item.json.nombreInstancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"remoteJid\": \"{{ $json.remoteJid }}\",\n    \"status\": \"closed\"\n}","options":{}},"id":"7401ca47-e198-45fe-b35c-6bb2c09d3024","name":"cerrar sesion","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-460,-280]},{"parameters":{"assignments":{"assignments":[{"id":"93f57008-99b7-4d9b-b67d-62b4cd2f5c23","name":"urlEvolutionApi","value":"https://evolutionapi-evolution.w1mcss.easypanel.host/","type":"string"},{"id":"cfddaf1d-b4c0-4429-983c-176d536da3e1","name":"apikeyGlobal","value":"An2u&xLhyfefGbU2PoP7HvvVCS$QAnfV","type":"string"},{"id":"07662f9e-5992-4ee7-b0c6-1dae4924bb1a","name":"whatsappDestino","value":"={{ $json.telefono }}","type":"string"},{"id":"5e02bdd7-b30a-443b-8aad-27c73bb9627a","name":"nombreInstancia","value":"Elle","type":"string"},{"id":"5d0ee14e-b957-481a-9e10-f0b801efb75a","name":"remoteJid","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"id":"de6043e0-c143-4b75-b457-d71afa188bb2","name":"Variables","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-680,-280]},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.urlEvolutionApi.replace(/\\/$/, '') }}/message/sendText/{{$('Variables').item.json.nombreInstancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variables').item.json.apikeyGlobal }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variables').item.json.whatsappDestino }}"},{"name":"text","value":"👀..."},{"name":"delay","value":"={{ 1000 }}"},{"name":"linkPreview","value":"={{ true }}"},{"name":"mentionsEveryOne","value":"={{ true }}"}]},"options":{}},"id":"9b829109-ad2b-4c2b-a4f8-2c8138697af5","name":"Send Text","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-420,-440]},{"parameters":{"assignments":{"assignments":[{"id":"9aab0071-a9b4-4ec7-9450-d30c494f4821","name":"remotejid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1080,60],"id":"de68cdc9-bf53-4f0d-8b0d-e3bb3539d006","name":"Identifica_Emisor"},{"parameters":{"assignments":{"assignments":[{"id":"9aab0071-a9b4-4ec7-9450-d30c494f4821","name":"telefono","value":"=     {{$json[\"remotejid\"].split('@')[0]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-920,60],"id":"ddc35814-72fd-4523-84c7-9d2e06505ecf","name":"Extrae_Telefono"}],"connections":{"Webhook":{"main":[[{"node":"Identifica_Emisor","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Texto","type":"main","index":0}]]},"Texto":{"main":[[{"node":"Envío datos","type":"main","index":0}]]},"Envío datos":{"main":[[{"node":"Guardar_Mensaje","type":"main","index":0}]]},"Guardar_Mensaje":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Juntar_Mensajes","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Juntar_Mensajes":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Variables":{"main":[[{"node":"cerrar sesion","type":"main","index":0}]]},"Send Text":{"main":[[]]},"Identifica_Emisor":{"main":[[{"node":"Extrae_Telefono","type":"main","index":0}]]},"Extrae_Telefono":{"main":[[{"node":"Variables","type":"main","index":0},{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6d5a3076-448a-4607-a2a0-3716def14ea5","triggerCount":1,"tags":[]}