Workflows/recepción_pedidos_telegram-LNp7mpPOnIKCTFyL.json
{"createdAt":"2025-01-14T00:11:58.735Z","updatedAt":"2025-01-14T00:11:58.735Z","id":"LNp7mpPOnIKCTFyL","name":"Recepción_Pedidos_Telegram","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"ec3c7800-afdf-4073-9fbf-c866eb5ba291","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-740,160],"webhookId":"8ec692eb-538d-45e5-90e0-5265a88076e4"},{"parameters":{"assignments":{"assignments":[{"id":"cc1a1dba-16f3-40ee-b497-c550dd332751","name":"mensaje","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"597efac6-a07d-406e-9f0c-06b77c5daf92","name":"Texto","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-120,20]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"b3bc79c1-57cf-448e-bf0b-c519bb44f35d","name":"Descarga_audio","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-320,260]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"c6a69238-b2c6-41bc-af84-e47c9fd7d0a2","name":"Transcribe audio a texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,260]},{"parameters":{"assignments":{"assignments":[{"id":"eac8864e-2f64-4a8b-96c3-12ecfa969c82","name":"mensaje","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"b6b6dcd2-5628-4159-8dc4-9cfb8b55348a","name":"Audio","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,260]},{"parameters":{"assignments":{"assignments":[{"id":"cc1a1dba-16f3-40ee-b497-c550dd332751","name":"Chat_ID","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}","type":"string"},{"id":"5c4ff116-f7a4-47b1-98fa-dc464a9c8077","name":"Nombre","value":"={{ $('Telegram Trigger').item.json.message.from.first_name }}","type":"string"},{"id":"6d2cd125-3e58-402b-a529-9698545c2636","name":"Mensaje","value":"={{ $json.mensaje }}","type":"string"}]},"options":{}},"id":"ccd904fc-521b-488d-9579-1baf0ddc3efc","name":"Envio_Datos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,160]},{"parameters":{"options":{}},"id":"f32fe132-4c12-4806-b0f6-c9c9a93658c3","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1480,340]},{"parameters":{},"id":"4ed36c30-a6d9-4c1f-99f7-bf185fafec82","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1720,340]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"7e95ce75-b223-44a0-8152-d8f57ce38eb1","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1880,140]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d82cf6cc-d916-4c68-8606-ac497bfcb60f","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"id":"438dbfff-adbd-4b65-8c4f-1aae8c77d9ca","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-560,160]},{"parameters":{"operation":"push","list":"={{ $json.Chat_ID }}","messageData":"={{ $json.Mensaje }}","tail":true},"id":"1585d9fd-b932-4ced-b913-2e781bb118b0","name":"Guardar_Mensaje","type":"n8n-nodes-base.redis","typeVersion":1,"position":[480,160]},{"parameters":{},"id":"8e0189ed-9673-4d78-87f2-5090bcdc1adb","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[660,160],"webhookId":"b341527b-1aac-4433-8238-423d12b05630"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83ef3299-b253-4f82-a698-d34e750bb2a0","leftValue":"={{ $json.Mensajes.last() }}","rightValue":"={{ $('Envio_Datos').item.json.Mensaje }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"3980801d-bd3d-4512-b502-bde5bbfff666","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,160]},{"parameters":{"operation":"get","propertyName":"Mensajes","key":"={{ $json.Chat_ID }}","options":{}},"id":"6b87294a-0adb-42b9-903f-8850ea6646bb","name":"Recuperar_Mensaje","type":"n8n-nodes-base.redis","typeVersion":1,"position":[840,160]},{"parameters":{},"id":"3f1c8276-1845-44d6-828c-c0e1f1186820","name":"No_hacer_nada","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1240,380]},{"parameters":{"assignments":{"assignments":[{"id":"0f85cb22-2331-4311-b701-99570fa75631","name":"Mensaje","value":"={{ $json.Mensajes.join('\\n') }}","type":"string"},{"id":"2722a936-b7c3-436d-bdbc-6f904900bc76","name":"Chat_ID","value":"={{ $('Wait').item.json.Chat_ID }}","type":"string"}]},"options":{}},"id":"8bf58d6a-cf5a-496e-b332-5b6475a113ae","name":"Juntar_Mensajes","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1240,140]},{"parameters":{"operation":"delete","key":"{{ $json.Chat_ID }}"},"id":"caf2034e-911a-468c-b21e-9d15ef0fd6a6","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2100,140]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"id":"4818a18d-c4e9-4d67-a5c5-e4fb626b120d","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1600,340]},{"parameters":{"promptType":"define","text":"={{ $json.Mensaje }}","options":{"systemMessage":"Eres una amigable agente llamado Elle."}},"id":"e89fd272-4992-4019-b301-57539d759491","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1480,140]}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Texto":{"main":[[{"node":"Envio_Datos","type":"main","index":0}]]},"Descarga_audio":{"main":[[{"node":"Transcribe audio a texto","type":"main","index":0}]]},"Transcribe audio a texto":{"main":[[{"node":"Audio","type":"main","index":0}]]},"Audio":{"main":[[{"node":"Envio_Datos","type":"main","index":0}]]},"Envio_Datos":{"main":[[{"node":"Guardar_Mensaje","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Texto","type":"main","index":0}],[{"node":"Descarga_audio","type":"main","index":0}]]},"Guardar_Mensaje":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Recuperar_Mensaje","type":"main","index":0}]]},"Recuperar_Mensaje":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Juntar_Mensajes","type":"main","index":0}],[{"node":"No_hacer_nada","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Juntar_Mensajes":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0070280b-ee0f-4597-a872-8dd202092dc0","triggerCount":0,"tags":[]}